web/ServiceAgents.Smartway/Service References/SmartwayReference/Smartway36.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommandContracts.Smartway.Seguridad" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommandContracts.Smartway.Seguridad" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommandContracts.Common" />
  <xs:complexType name="AsignarClientesUsuariosCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q1:Command">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="clientes_array" nillable="true" type="q2:ArrayOfstring" />
          <xs:element minOccurs="0" name="usr_int_id" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AsignarClientesUsuariosCommand" nillable="true" type="tns:AsignarClientesUsuariosCommand" />
  <xs:complexType name="AsignarMenuOpcionRolCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q3:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="opc_obj_array" nillable="true" type="tns:ArrayOfOpcionCommand" />
          <xs:element minOccurs="0" name="rol_int_id" type="xs:int" />
          <xs:element minOccurs="0" name="sis_str_sigla" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AsignarMenuOpcionRolCommand" nillable="true" type="tns:AsignarMenuOpcionRolCommand" />
  <xs:complexType name="ArrayOfOpcionCommand">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OpcionCommand" nillable="true" type="tns:OpcionCommand" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOpcionCommand" nillable="true" type="tns:ArrayOfOpcionCommand" />
  <xs:complexType name="OpcionCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="opc_bit_seleccionado" type="xs:boolean" />
      <xs:element minOccurs="0" name="opc_int_id" type="xs:int" />
      <xs:element minOccurs="0" name="opc_str_permiso" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OpcionCommand" nillable="true" type="tns:OpcionCommand" />
  <xs:complexType name="AsignarRolesUsuariosCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q4:Command">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="rol_int_id_array" nillable="true" type="q5:ArrayOfint" />
          <xs:element minOccurs="0" name="sis_str_siglas" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="usr_int_id" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AsignarRolesUsuariosCommand" nillable="true" type="tns:AsignarRolesUsuariosCommand" />
  <xs:complexType name="InsertarModificarPaginaCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q6:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="pag_bit_activo" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="pag_bit_externo" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="pag_int_id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="pag_int_nivel" type="xs:int" />
          <xs:element minOccurs="0" name="pag_int_secuencia" type="xs:int" />
          <xs:element minOccurs="0" name="pag_str_action" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pag_str_attributes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pag_str_codmenu" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pag_str_codmenu_padre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pag_str_controller" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pag_str_descrip" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pag_str_nombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pag_str_tipomenu" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pag_str_url" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarModificarPaginaCommand" nillable="true" type="tns:InsertarModificarPaginaCommand" />
  <xs:complexType name="InsertarModificarRolCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q7:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="rol_bit_activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="rol_bit_publico" type="xs:boolean" />
          <xs:element minOccurs="0" name="rol_int_id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="rol_str_alias" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="rol_str_descrip" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="rol_str_pass" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="rol_str_usuario" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarModificarRolCommand" nillable="true" type="tns:InsertarModificarRolCommand" />
  <xs:complexType name="InsertarModificarSistemaCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q8:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="sis_bit_activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="sis_int_id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="sis_int_orden" type="xs:int" />
          <xs:element minOccurs="0" name="sis_str_alias" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sis_str_aliasmenu" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sis_str_nombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sis_str_resumen" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sis_str_siglas" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarModificarSistemaCommand" nillable="true" type="tns:InsertarModificarSistemaCommand" />
  <xs:complexType name="InsertarModificarUsuarioCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q9:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="callcenter" type="xs:boolean" />
          <xs:element minOccurs="0" name="idcliente" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idpartner" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idsucursal" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idtipousuario" type="xs:int" />
          <xs:element minOccurs="0" name="tiposproducto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="usr_dat_fecvctopwd" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="usr_dat_fecvctousuario" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="usr_dat_ultfecbloqueo" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="usr_int_aprobado" type="xs:short" />
          <xs:element minOccurs="0" name="usr_int_bloqueado" type="xs:short" />
          <xs:element minOccurs="0" name="usr_int_cambiarpwd" type="xs:short" />
          <xs:element minOccurs="0" name="usr_int_id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="usr_int_online" type="xs:short" />
          <xs:element minOccurs="0" name="usr_str_apellidos" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="usr_str_email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="usr_str_nombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="usr_str_red" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="usr_str_tipoacceso" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarModificarUsuarioCommand" nillable="true" type="tns:InsertarModificarUsuarioCommand" />
  <xs:complexType name="ResetarPasswordCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q10:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="usr_int_id" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResetarPasswordCommand" nillable="true" type="tns:ResetarPasswordCommand" />
</xs:schema>