web/ServiceAgents.Smartway/Service References/SmartwayReference/SmartwayBackendService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SmartwayBackendService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="main_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommandContracts.Common" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CommandContracts.Smartway.Seguridad" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/CommandContracts.Smartway.Reparacion" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/CommandContracts.Smartway.Mantenimiento" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/CommandContracts.Smartway.Inventario" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/CommandContracts.Smartway.Facturacion" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/CommandContracts.Smartway.Despacho" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/CommandContracts.Smartway.Agendamiento" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/CommandContracts.Smartway.Seguridad.Output" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/CommandContracts.Smartway.Mantenimiento.Output" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/CommandContracts.Smartway.Inventario.Output" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/CommandContracts.Smartway.Facturacion.Output" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/CommandContracts.Smartway.Despacho.Output" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/CommandContracts.Smartway.Agendamiento.Output" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd18" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Neptunia.Seguridad.Parameters" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd19" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.TYS.Facturacion.Parameters" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd20" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Coolbox.CIC.Incidencias.Parameters" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd21" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Rol.Parameters" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd22" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Seguridad.Parameters" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd23" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Reparacion.Parameters" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd24" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Recepcion.Parameters" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd25" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Mantenimiento.Parameters" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd26" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Inventario.Parameters" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd27" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Facturacion.Parameters" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd28" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Despacho.Parameters" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd29" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Agendamiento.Parameters" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd30" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Agendamiento.Incidencias.Parameters" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd31" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Account.Parameters" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd32" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common.Seguridad.Parameters" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd33" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common.Configuracion.Parameters" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd34" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Neptunia.Seguridad.Result" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd35" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.TYS.Monitoreo.Results" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd36" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.TYS.Facturacion.Results" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd37" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Coolbox.CIC.Incidencias.Results" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd38" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Seguridad.Result" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd39" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Reparacion.Results" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd40" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Recepcion.Results" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd41" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Mantenimiento.Results" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd42" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Inventario.Results" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd43" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Facturacion.Results" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd44" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Despacho.Results" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd45" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Agendamiento.Results" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd46" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Agendamiento.Incidencias.Results" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd47" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Account.Results" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd48" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common.Seguridad.Results" />
      <xsd:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd49" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common.Configuracion.Results" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBackendService_ExecuteCommand_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteCommand" />
  </wsdl:message>
  <wsdl:message name="IBackendService_ExecuteCommand_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteCommandResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_ExecuteCommand_CommandFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/CommandContracts.Common" name="detail" element="q1:CommandFault" />
  </wsdl:message>
  <wsdl:message name="IBackendService_ExecuteQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteQuery" />
  </wsdl:message>
  <wsdl:message name="IBackendService_ExecuteQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteQueryResponse" />
  </wsdl:message>
  <wsdl:portType name="IBackendService">
    <wsdl:operation name="ExecuteCommand">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/ExecuteCommand" message="tns:IBackendService_ExecuteCommand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/ExecuteCommandResponse" message="tns:IBackendService_ExecuteCommand_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBackendService/ExecuteCommandCommandFaultFault" name="CommandFaultFault" message="tns:IBackendService_ExecuteCommand_CommandFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/ExecuteQuery" message="tns:IBackendService_ExecuteQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/ExecuteQueryResponse" message="tns:IBackendService_ExecuteQuery_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="main" type="tns:IBackendService">
    <wsp:PolicyReference URI="#main_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteCommand">
      <soap12:operation soapAction="http://tempuri.org/IBackendService/ExecuteCommand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommandFaultFault">
        <soap12:fault use="literal" name="CommandFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ExecuteQuery">
      <soap12:operation soapAction="http://tempuri.org/IBackendService/ExecuteQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmartwayBackendService">
    <wsdl:port name="main" binding="tns:main">
      <soap12:address location="http://localhost:50020/Smartway3" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:50020/Smartway3</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>