web/ServiceAgents.Smartway/Service References/SmartwayReference/Smartway32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommandContracts.Smartway.Inventario" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommandContracts.Smartway.Inventario" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommandContracts.Common" />
  <xs:complexType name="InsertarActualizarInventarioCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q1:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="__idoperacion" type="xs:int" />
          <xs:element minOccurs="0" name="caja" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="cantidad" type="xs:int" />
          <xs:element minOccurs="0" name="cantidadnueva" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="fechahoraregistro" type="xs:dateTime" />
          <xs:element minOccurs="0" name="idalmacen" type="xs:int" />
          <xs:element minOccurs="0" name="idalmacennuevo" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="iddocumentorecepcion" type="xs:int" />
          <xs:element minOccurs="0" name="idestado" type="xs:int" />
          <xs:element minOccurs="0" name="idestadonuevo" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idinventario" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="idpartner" type="xs:int" />
          <xs:element minOccurs="0" name="idproducto" type="xs:int" />
          <xs:element minOccurs="0" name="idusuarioregistro" type="xs:int" />
          <xs:element minOccurs="0" name="imei" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="mac" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pallet" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="serie" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ubicacion" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarInventarioCommand" nillable="true" type="tns:InsertarActualizarInventarioCommand" />
  <xs:complexType name="InsertarActualizarAlmacenCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q2:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="__tipooperacion" type="xs:int" />
          <xs:element minOccurs="0" name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="codigoalmacen" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idalmacen" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idsucursal" type="xs:int" />
          <xs:element minOccurs="0" name="idtipoalmacen" type="xs:int" />
          <xs:element minOccurs="0" name="nombrealmacen" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarAlmacenCommand" nillable="true" type="tns:InsertarActualizarAlmacenCommand" />
</xs:schema>