web/ServiceAgents.Smartway/Service References/SmartwayReference/Smartway331.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryContracts.Neptunia.Seguridad.Result" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryContracts.Neptunia.Seguridad.Result" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common" />
  <xs:complexType name="ListarClientesResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q1:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarClientesDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarClientesResult" nillable="true" type="tns:ListarClientesResult" />
  <xs:complexType name="ArrayOfListarClientesDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarClientesDto" nillable="true" type="tns:ListarClientesDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarClientesDto" nillable="true" type="tns:ArrayOfListarClientesDto" />
  <xs:complexType name="ListarClientesDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="cli_int_id" type="xs:int" />
      <xs:element minOccurs="0" name="cli_razonsocial" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarClientesDto" nillable="true" type="tns:ListarClientesDto" />
  <xs:complexType name="ListarMenusxRolesResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q2:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarMenusxRolesDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarMenusxRolesResult" nillable="true" type="tns:ListarMenusxRolesResult" />
  <xs:complexType name="ArrayOfListarMenusxRolesDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarMenusxRolesDto" nillable="true" type="tns:ListarMenusxRolesDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarMenusxRolesDto" nillable="true" type="tns:ArrayOfListarMenusxRolesDto" />
  <xs:complexType name="ListarMenusxRolesDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="pag_int_id" type="xs:int" />
      <xs:element minOccurs="0" name="pag_int_nivel" type="xs:int" />
      <xs:element minOccurs="0" name="pag_int_secuencia" type="xs:int" />
      <xs:element minOccurs="0" name="pag_str_codmenu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_codmenu_padre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_descrip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_tipomenu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rol_int_id" type="xs:int" />
      <xs:element minOccurs="0" name="sis_int_id" type="xs:int" />
      <xs:element minOccurs="0" name="srp_seleccion" type="xs:int" />
      <xs:element minOccurs="0" name="srp_str_codpermiso" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarMenusxRolesDto" nillable="true" type="tns:ListarMenusxRolesDto" />
</xs:schema>