web/ServiceAgents.Smartway/Service References/SmartwayReference/Smartway337.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Facturacion.Results" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Facturacion.Results" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common" />
  <xs:complexType name="ListarDetalleComprobantesResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q1:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarDetalleComprobantesDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarDetalleComprobantesResult" nillable="true" type="tns:ListarDetalleComprobantesResult" />
  <xs:complexType name="ArrayOfListarDetalleComprobantesDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarDetalleComprobantesDto" nillable="true" type="tns:ListarDetalleComprobantesDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarDetalleComprobantesDto" nillable="true" type="tns:ArrayOfListarDetalleComprobantesDto" />
  <xs:complexType name="ListarDetalleComprobantesDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="codigoproducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcionlarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descuento" type="xs:decimal" />
      <xs:element minOccurs="0" name="fechaemision" type="xs:dateTime" />
      <xs:element minOccurs="0" name="iddetallecomprobantecliente" type="xs:long" />
      <xs:element minOccurs="0" name="iddocumentocompra" type="xs:long" />
      <xs:element minOccurs="0" name="idproducto" type="xs:int" />
      <xs:element minOccurs="0" name="idsucursalventa" type="xs:int" />
      <xs:element minOccurs="0" name="igv" type="xs:decimal" />
      <xs:element minOccurs="0" name="imei" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mac" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subtotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="total" type="xs:decimal" />
      <xs:element minOccurs="0" name="ventapartner" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarDetalleComprobantesDto" nillable="true" type="tns:ListarDetalleComprobantesDto" />
  <xs:complexType name="ListarComprobantesResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q2:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarComprobantesDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarComprobantesResult" nillable="true" type="tns:ListarComprobantesResult" />
  <xs:complexType name="ArrayOfListarComprobantesDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarComprobantesDto" nillable="true" type="tns:ListarComprobantesDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarComprobantesDto" nillable="true" type="tns:ArrayOfListarComprobantesDto" />
  <xs:complexType name="ListarComprobantesDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaemision" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idcliente" type="xs:int" />
      <xs:element minOccurs="0" name="iddocumentocompra" type="xs:long" />
      <xs:element minOccurs="0" name="idpartner" type="xs:int" />
      <xs:element minOccurs="0" name="idsucursalventa" type="xs:int" />
      <xs:element minOccurs="0" name="idtipodocumentocompra" type="xs:int" />
      <xs:element minOccurs="0" name="idusuarioregistro" type="xs:int" />
      <xs:element minOccurs="0" name="igv" type="xs:decimal" />
      <xs:element minOccurs="0" name="nombrecliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numerocomprobante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subtotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="tipodocumentocompra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="total" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarComprobantesDto" nillable="true" type="tns:ListarComprobantesDto" />
  <xs:complexType name="ObtenerComprobanteResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q3:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="fechaemision" type="xs:dateTime" />
          <xs:element minOccurs="0" name="idcliente" type="xs:int" />
          <xs:element minOccurs="0" name="idconceptofacturacion" type="xs:long" />
          <xs:element minOccurs="0" name="iddocumentocompra" type="xs:long" />
          <xs:element minOccurs="0" name="idsucursal" type="xs:int" />
          <xs:element minOccurs="0" name="idtipocomprobante" type="xs:int" />
          <xs:element minOccurs="0" name="idusuarioregistro" type="xs:int" />
          <xs:element minOccurs="0" name="igv" type="xs:decimal" />
          <xs:element minOccurs="0" name="numerocomprobante" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="razonsocial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="subtotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="tipocomprobante" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="total" type="xs:decimal" />
          <xs:element minOccurs="0" name="ventalinea" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerComprobanteResult" nillable="true" type="tns:ObtenerComprobanteResult" />
</xs:schema>