web/ServiceAgents.Smartway/Service References/SmartwayReference/Smartway333.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryContracts.Coolbox.CIC.Incidencias.Results" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryContracts.Coolbox.CIC.Incidencias.Results" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common" />
  <xs:complexType name="ListarPropuestasIncidenciaResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q1:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarPropuestasIncidenciaDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarPropuestasIncidenciaResult" nillable="true" type="tns:ListarPropuestasIncidenciaResult" />
  <xs:complexType name="ArrayOfListarPropuestasIncidenciaDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarPropuestasIncidenciaDto" nillable="true" type="tns:ListarPropuestasIncidenciaDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarPropuestasIncidenciaDto" nillable="true" type="tns:ArrayOfListarPropuestasIncidenciaDto" />
  <xs:complexType name="ListarPropuestasIncidenciaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="imagen_estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="inp_int_id" type="xs:long" />
      <xs:element minOccurs="0" name="label_estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="odr" type="xs:boolean" />
      <xs:element minOccurs="0" name="ods" type="xs:boolean" />
      <xs:element minOccurs="0" name="prenota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prop_int_estado" type="xs:int" />
      <xs:element minOccurs="0" name="prop_int_id" type="xs:int" />
      <xs:element minOccurs="0" name="prop_str_descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prop_str_estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prop_str_observacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="solicitud" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarPropuestasIncidenciaDto" nillable="true" type="tns:ListarPropuestasIncidenciaDto" />
</xs:schema>