web/ServiceAgents.Smartway/Service References/SmartwayReference/Smartway341.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryContracts.Common.Configuracion.Results" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common.Configuracion.Results" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common" />
  <xs:complexType name="MultiusoResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q1:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfMultiusoDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MultiusoResult" nillable="true" type="tns:MultiusoResult" />
  <xs:complexType name="ArrayOfMultiusoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MultiusoDto" nillable="true" type="tns:MultiusoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMultiusoDto" nillable="true" type="tns:ArrayOfMultiusoDto" />
  <xs:complexType name="MultiusoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="mlt_dat_fecha_creacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="mlt_int_id" type="xs:int" />
      <xs:element minOccurs="0" name="mlt_int_id_padre" type="xs:int" />
      <xs:element minOccurs="0" name="mlt_str_alcance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mlt_str_descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mlt_str_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mlt_str_usuario_creacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mlt_str_valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MultiusoDto" nillable="true" type="tns:MultiusoDto" />
</xs:schema>