web/ServiceAgents.Smartway/Service References/SmartwayReference/Smartway31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommandContracts.Smartway.Agendamiento.Output" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommandContracts.Smartway.Agendamiento.Output" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommandContracts.Common" />
  <xs:complexType name="InsertarActualizarIncidenciaCotizacionDetalleOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q1:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="idcotizaciondetalle" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarIncidenciaCotizacionDetalleOutput" nillable="true" type="tns:InsertarActualizarIncidenciaCotizacionDetalleOutput" />
  <xs:complexType name="InsertarActualizarIncidenciaCotizacionOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q2:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="idcotizacion" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarIncidenciaCotizacionOutput" nillable="true" type="tns:InsertarActualizarIncidenciaCotizacionOutput" />
  <xs:complexType name="InsertarIncidenciaEvaluacionOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q3:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="idevaluaciongarantia" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarIncidenciaEvaluacionOutput" nillable="true" type="tns:InsertarIncidenciaEvaluacionOutput" />
  <xs:complexType name="InsertarActualizarOrdenServicioOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q4:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="idordenservicio" type="xs:long" />
          <xs:element minOccurs="0" name="numeroordenservicio" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarOrdenServicioOutput" nillable="true" type="tns:InsertarActualizarOrdenServicioOutput" />
  <xs:complexType name="InsertarIncidenciaSolucionOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q5:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="idincidenciasolucion" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarIncidenciaSolucionOutput" nillable="true" type="tns:InsertarIncidenciaSolucionOutput" />
  <xs:complexType name="InsertarActualizarLibroReclamacionesOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q6:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="idreclamo" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarLibroReclamacionesOutput" nillable="true" type="tns:InsertarActualizarLibroReclamacionesOutput" />
  <xs:complexType name="InsertarActualizarIncidenciaOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q7:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="idincidencia" type="xs:long" />
          <xs:element minOccurs="0" name="numeroincidencia" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarIncidenciaOutput" nillable="true" type="tns:InsertarActualizarIncidenciaOutput" />
</xs:schema>