web/ServiceAgents.Smartway/Service References/SmartwayReference/Smartway311.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommandContracts.Smartway.Inventario.Output" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommandContracts.Smartway.Inventario.Output" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommandContracts.Common" />
  <xs:complexType name="InsertarActualizarInventarioOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q1:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="idinventario" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarInventarioOutput" nillable="true" type="tns:InsertarActualizarInventarioOutput" />
  <xs:complexType name="InsertarActualizarAlmacenOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q2:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="idalmacen" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarAlmacenOutput" nillable="true" type="tns:InsertarActualizarAlmacenOutput" />
</xs:schema>