web/ServiceAgents.Smartway/Service References/SmartwayReference/Smartway320.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Facturacion.Parameters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Facturacion.Parameters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common" />
  <xs:complexType name="ListarDetalleComprobantesParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q1:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="iddocumentocompra" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="serie" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarDetalleComprobantesParameters" nillable="true" type="tns:ListarDetalleComprobantesParameters" />
  <xs:complexType name="ListarComprobantesParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q2:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idcliente" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idestado" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idtipocomprobante" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="numerocomprobante" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarComprobantesParameters" nillable="true" type="tns:ListarComprobantesParameters" />
  <xs:complexType name="ObtenerComprobanteParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q3:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idcomprobante" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="numerocomprobante" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerComprobanteParameters" nillable="true" type="tns:ObtenerComprobanteParameters" />
</xs:schema>