web/ServiceAgents.Smartway/Service References/SmartwayReference/Smartway33.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommandContracts.Smartway.Mantenimiento" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommandContracts.Smartway.Mantenimiento" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommandContracts.Common" />
  <xs:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="EliminarDiagnosticoxTipoProductoCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q1:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="iddiagnosticosmartway" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EliminarDiagnosticoxTipoProductoCommand" nillable="true" type="tns:EliminarDiagnosticoxTipoProductoCommand" />
  <xs:complexType name="EliminarRepuestoxProductoCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q2:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="idproducto" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EliminarRepuestoxProductoCommand" nillable="true" type="tns:EliminarRepuestoxProductoCommand" />
  <xs:complexType name="InsertarActualizarDiagnosticoxTipoProductoCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q3:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="iddiagnosticosmartway" type="xs:int" />
          <xs:element minOccurs="0" name="iddiagnosticotipoproducto" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idtipoproducto" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarDiagnosticoxTipoProductoCommand" nillable="true" type="tns:InsertarActualizarDiagnosticoxTipoProductoCommand" />
  <xs:complexType name="InsertarActualizarDiagnosticoCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q4:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigosmartway" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idcategoriareparacion" type="xs:int" />
          <xs:element minOccurs="0" name="iddiagnostico" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idfabricante" type="xs:int" />
          <xs:element minOccurs="0" name="idtipodiagnostico" type="xs:int" />
          <xs:element minOccurs="0" name="idtipoproducto" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarDiagnosticoCommand" nillable="true" type="tns:InsertarActualizarDiagnosticoCommand" />
  <xs:complexType name="InsertarActualizarReparacionCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q5:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="codigosmartway" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="fechahoraregistro" type="xs:dateTime" />
          <xs:element minOccurs="0" name="idcategoriareparacion" type="xs:int" />
          <xs:element minOccurs="0" name="idfabricante" type="xs:int" />
          <xs:element minOccurs="0" name="idnivelreparacion" type="xs:int" />
          <xs:element minOccurs="0" name="idreparacion" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idtipoproducto" type="xs:int" />
          <xs:element minOccurs="0" name="idtiporeparacion" type="xs:int" />
          <xs:element minOccurs="0" name="idusuarioregistro" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarReparacionCommand" nillable="true" type="tns:InsertarActualizarReparacionCommand" />
  <xs:complexType name="EliminarRepuestoxReparacionCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q6:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="idrepuesto" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EliminarRepuestoxReparacionCommand" nillable="true" type="tns:EliminarRepuestoxReparacionCommand" />
  <xs:complexType name="InsertarActualizarRepuestoxProductoCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q7:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="idproducto" type="xs:int" />
          <xs:element minOccurs="0" name="idrepuesto" type="xs:int" />
          <xs:element minOccurs="0" name="idrepuestoxproducto" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarRepuestoxProductoCommand" nillable="true" type="tns:InsertarActualizarRepuestoxProductoCommand" />
  <xs:complexType name="InsertarActualizarRepuestoxReparacionCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q8:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="idreparacion" type="xs:int" />
          <xs:element minOccurs="0" name="idrepuesto" type="xs:int" />
          <xs:element minOccurs="0" name="idrepuestoreparacion" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarRepuestoxReparacionCommand" nillable="true" type="tns:InsertarActualizarRepuestoxReparacionCommand" />
  <xs:complexType name="InsertarActualizarProductoCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q9:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="__tipooperacion" type="xs:int" />
          <xs:element minOccurs="0" name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="codigoproducto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="costounitario" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="descripcioncorta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="descripcionlarga" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idbanda" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idcamarafrontal" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idcamaraposterior" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idcapacidad" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idcolor" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idfabricante" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idfamilia" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idmemoriaflash" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idmemoriaram" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idmodelo" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idmoneda" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idorigen" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idpantalla" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idprocesador" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idproducto" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idrequisitoascanear" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idsistemaoperativo" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idtipomercaderia" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idtipoproducto" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idvoltaje" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="imagen" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="original" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="peso" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="porcentajedescuento" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="preciounitario" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="repuesto" type="xs:boolean" />
          <xs:element minOccurs="0" name="stockmaximo" type="xs:decimal" />
          <xs:element minOccurs="0" name="stockminimo" type="xs:decimal" />
          <xs:element minOccurs="0" name="unico_reparacion" type="xs:boolean" />
          <xs:element minOccurs="0" name="volumen" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarProductoCommand" nillable="true" type="tns:InsertarActualizarProductoCommand" />
  <xs:complexType name="InsertarActualizarClienteCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q10:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="__tipooperacion" type="xs:int" />
          <xs:element minOccurs="0" name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="celular" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="contacto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idcliente" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idsexo" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idtipodocumento" type="xs:int" />
          <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="numerodocumento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarClienteCommand" nillable="true" type="tns:InsertarActualizarClienteCommand" />
  <xs:complexType name="InsertarActualizarPartnerCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q11:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="celular" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="contacto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idcondicionentrega" type="xs:int" />
          <xs:element minOccurs="0" name="idcondicionpago" type="xs:int" />
          <xs:element minOccurs="0" name="idcondicionrecojo" type="xs:int" />
          <xs:element minOccurs="0" name="iddireccion" type="xs:int" />
          <xs:element minOccurs="0" name="idmoneda" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idpartner" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idtipodocumento" type="xs:int" />
          <xs:element minOccurs="0" name="idtipopartner" type="xs:int" />
          <xs:element minOccurs="0" name="lineaconsumida" type="xs:decimal" />
          <xs:element minOccurs="0" name="lineacredito" type="xs:decimal" />
          <xs:element minOccurs="0" name="nombrecorto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="numerodocumento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="razonsocial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarPartnerCommand" nillable="true" type="tns:InsertarActualizarPartnerCommand" />
  <xs:complexType name="InsertarActualizarSucursalCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q12:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="__tipooperacion" type="xs:int" />
          <xs:element minOccurs="0" name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="celular" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="contacto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="delivery" type="xs:boolean" />
          <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="fechahoraregistro" type="xs:dateTime" />
          <xs:element minOccurs="0" name="idcondicionentrega" type="xs:int" />
          <xs:element minOccurs="0" name="idcondicionrecojo" type="xs:int" />
          <xs:element minOccurs="0" name="iddireccion" type="xs:int" />
          <xs:element minOccurs="0" name="idpartner" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idsucursal" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idtipopago" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idtiposucursal" type="xs:int" />
          <xs:element minOccurs="0" name="idusuarioregistro" type="xs:int" />
          <xs:element minOccurs="0" name="laboratoriocentral" type="xs:boolean" />
          <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="reparacion" type="xs:boolean" />
          <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarSucursalCommand" nillable="true" type="tns:InsertarActualizarSucursalCommand" />
  <xs:complexType name="InsertarActualizarDireccionCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q13:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="__tipooperacion" type="xs:int" />
          <xs:element minOccurs="0" name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idcliente" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="iddireccion" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="iddistrito" type="xs:int" />
          <xs:element minOccurs="0" name="principal" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarDireccionCommand" nillable="true" type="tns:InsertarActualizarDireccionCommand" />
  <xs:complexType name="InsertarActualizarGarantiaCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q14:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="__tipooperacion" type="xs:int" />
          <xs:element minOccurs="0" name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="documentocompra" type="xs:boolean" />
          <xs:element minOccurs="0" name="fechahoraregistro" type="xs:dateTime" />
          <xs:element minOccurs="0" name="idfabricante" type="xs:int" />
          <xs:element minOccurs="0" name="idgarantia" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idpartner" type="xs:int" />
          <xs:element minOccurs="0" name="idtipogarantia" type="xs:int" />
          <xs:element minOccurs="0" name="idtipoproducto" type="xs:int" />
          <xs:element minOccurs="0" name="idusuarioregistro" type="xs:int" />
          <xs:element minOccurs="0" name="periodo" type="xs:int" />
          <xs:element minOccurs="0" name="reparacion" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarGarantiaCommand" nillable="true" type="tns:InsertarActualizarGarantiaCommand" />
  <xs:complexType name="InsertarActualizarValorTablaCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q15:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="idmaestrotabla" type="xs:int" />
          <xs:element minOccurs="0" name="idvalortabla" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="orden" type="xs:int" />
          <xs:element minOccurs="0" name="valor" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarValorTablaCommand" nillable="true" type="tns:InsertarActualizarValorTablaCommand" />
  <xs:complexType name="InsertarActualizarZonaCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q16:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="idzona" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarZonaCommand" nillable="true" type="tns:InsertarActualizarZonaCommand" />
  <xs:complexType name="InsertarActualizarZonaDistritoCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q17="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q17:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="iddistrito" nillable="true" type="xs:int" />
          <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="idsdistritos" nillable="true" type="q18:ArrayOfstring" />
          <xs:element minOccurs="0" name="idzona" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idzonadistrito" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarZonaDistritoCommand" nillable="true" type="tns:InsertarActualizarZonaDistritoCommand" />
  <xs:complexType name="InsertarActualizarFallaCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q19="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q19:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="codigosmartway" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="fechahoraregistro" type="xs:dateTime" />
          <xs:element minOccurs="0" name="idcategoriafalla" type="xs:int" />
          <xs:element minOccurs="0" name="idfabricante" type="xs:int" />
          <xs:element minOccurs="0" name="idfalla" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idtipofalla" type="xs:int" />
          <xs:element minOccurs="0" name="idtipoproducto" type="xs:int" />
          <xs:element minOccurs="0" name="idusuarioregistro" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarFallaCommand" nillable="true" type="tns:InsertarActualizarFallaCommand" />
  <xs:complexType name="InsertarActualizarTarifaCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q20="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q20:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="__tipooperacion" type="xs:int" />
          <xs:element minOccurs="0" name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="costo" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="diagnostico" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="fechahoraregistro" type="xs:dateTime" />
          <xs:element minOccurs="0" name="garantia" type="xs:boolean" />
          <xs:element minOccurs="0" name="idmoneda" type="xs:int" />
          <xs:element minOccurs="0" name="idnivelreparacion" type="xs:int" />
          <xs:element minOccurs="0" name="idpartner" type="xs:int" />
          <xs:element minOccurs="0" name="idtarifa" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idtipoproducto" type="xs:int" />
          <xs:element minOccurs="0" name="idtipotarifa" type="xs:int" />
          <xs:element minOccurs="0" name="idusuarioregistro" type="xs:int" />
          <xs:element minOccurs="0" name="revision" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="tipotarifa" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarTarifaCommand" nillable="true" type="tns:InsertarActualizarTarifaCommand" />
</xs:schema>