web/ServiceAgents.Smartway/Service References/SmartwayReference/Smartway318.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Seguridad.Parameters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Seguridad.Parameters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common" />
  <xs:complexType name="BuscarPaginasParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q1:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="pag_str_codmenu" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pag_str_nombre" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BuscarPaginasParameter" nillable="true" type="tns:BuscarPaginasParameter" />
  <xs:complexType name="BuscarSistemasParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q2:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BuscarSistemasParameter" nillable="true" type="tns:BuscarSistemasParameter" />
  <xs:complexType name="CambiarContrasenaParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q3:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
          <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CambiarContrasenaParameter" nillable="true" type="tns:CambiarContrasenaParameter" />
  <xs:complexType name="DesbloquearUsuarioParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q4:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DesbloquearUsuarioParameter" nillable="true" type="tns:DesbloquearUsuarioParameter" />
  <xs:complexType name="EliminarPaginaParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q5:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="IdPagina" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EliminarPaginaParameter" nillable="true" type="tns:EliminarPaginaParameter" />
  <xs:complexType name="ObtenerPaginaPadreParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q6:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="pag_int_id" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerPaginaPadreParameter" nillable="true" type="tns:ObtenerPaginaPadreParameter" />
  <xs:complexType name="ValidarDNIUsuarioParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q7:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="usr_str_dni" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ValidarDNIUsuarioParameter" nillable="true" type="tns:ValidarDNIUsuarioParameter" />
  <xs:complexType name="ValidarUsoRolParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q8:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="IdRol" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ValidarUsoRolParameter" nillable="true" type="tns:ValidarUsoRolParameter" />
  <xs:complexType name="EliminarRolParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q9:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="IdRol" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EliminarRolParameter" nillable="true" type="tns:EliminarRolParameter" />
  <xs:complexType name="EliminarUsuarioParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q10:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EliminarUsuarioParameter" nillable="true" type="tns:EliminarUsuarioParameter" />
  <xs:complexType name="EncriptarPasswordParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q11:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="usr_int_id" type="xs:int" />
          <xs:element minOccurs="0" name="usr_str_password" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EncriptarPasswordParameter" nillable="true" type="tns:EncriptarPasswordParameter" />
  <xs:complexType name="GenerarPasswordParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q12:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="IdUsuario" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GenerarPasswordParameter" nillable="true" type="tns:GenerarPasswordParameter" />
  <xs:complexType name="ListarControlParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q13:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="con_str_descrip" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarControlParameter" nillable="true" type="tns:ListarControlParameter" />
  <xs:complexType name="ListarPaginasPadreParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q14:QueryParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarPaginasPadreParameter" nillable="true" type="tns:ListarPaginasPadreParameter" />
  <xs:complexType name="ListarPaginasParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q15:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="pag_str_nombre" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarPaginasParameter" nillable="true" type="tns:ListarPaginasParameter" />
  <xs:complexType name="ListarPantallaParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q16:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="pag_str_descrip" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarPantallaParameter" nillable="true" type="tns:ListarPantallaParameter" />
  <xs:complexType name="ListarRolesAsignablesParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q17="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q17:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="int_rol_sin_asignar" type="xs:int" />
          <xs:element minOccurs="0" name="rol_str_alias" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sis_str_siglas" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="usr_str_red" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarRolesAsignablesParameter" nillable="true" type="tns:ListarRolesAsignablesParameter" />
  <xs:complexType name="ListarRolesParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q18="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q18:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="rol_str_alias" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarRolesParameter" nillable="true" type="tns:ListarRolesParameter" />
  <xs:complexType name="ListarSistemasParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q19="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q19:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="sis_int_id" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarSistemasParameter" nillable="true" type="tns:ListarSistemasParameter" />
  <xs:complexType name="ListarUsuariosParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q20="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q20:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="rol_int_id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="usr_str_nombre_apellido" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="usr_str_red" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarUsuariosParameter" nillable="true" type="tns:ListarUsuariosParameter" />
  <xs:complexType name="ObtenerDatosBasicosUsuarioParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q21="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q21:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="usr_int_id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="usr_str_red" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerDatosBasicosUsuarioParameter" nillable="true" type="tns:ObtenerDatosBasicosUsuarioParameter" />
  <xs:complexType name="ObtenerPaginaParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q22="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q22:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="pag_int_id" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerPaginaParameter" nillable="true" type="tns:ObtenerPaginaParameter" />
  <xs:complexType name="ObtenerPasswordParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q23="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q23:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="usr_str_email" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerPasswordParameter" nillable="true" type="tns:ObtenerPasswordParameter" />
  <xs:complexType name="ObtenerSistemaParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q24="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q24:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="sis_int_id" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerSistemaParameter" nillable="true" type="tns:ObtenerSistemaParameter" />
  <xs:complexType name="TraerRolParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q25="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q25:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="rol_int_id" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TraerRolParameter" nillable="true" type="tns:TraerRolParameter" />
  <xs:complexType name="ValidarExisteUsuarioParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q26="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q26:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="usr_str_email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="usr_str_red" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ValidarExisteUsuarioParameter" nillable="true" type="tns:ValidarExisteUsuarioParameter" />
</xs:schema>