web/ServiceAgents.Smartway/Service References/SmartwayReference/Smartway326.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Mantenimiento.Parameters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Mantenimiento.Parameters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common" />
  <xs:complexType name="ListarAntecedentesParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q1:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idincidencia" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarAntecedentesParameter" nillable="true" type="tns:ListarAntecedentesParameter" />
  <xs:complexType name="ListarEstadosParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q2:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idtabla" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarEstadosParameter" nillable="true" type="tns:ListarEstadosParameter" />
  <xs:complexType name="ListarGarantiaParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q3:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idpartner" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarGarantiaParameters" nillable="true" type="tns:ListarGarantiaParameters" />
  <xs:complexType name="ListarCategoriaFallaParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q4:QueryParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarCategoriaFallaParameters" nillable="true" type="tns:ListarCategoriaFallaParameters" />
  <xs:complexType name="ListarCategoriaReparacionParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q5:QueryParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarCategoriaReparacionParameters" nillable="true" type="tns:ListarCategoriaReparacionParameters" />
  <xs:complexType name="ListarDiagnosticoParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q6:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="garantia" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="idcategoriareparacion" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="iddiagnostico" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idfabricante" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idtipoproducto" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarDiagnosticoParameters" nillable="true" type="tns:ListarDiagnosticoParameters" />
  <xs:complexType name="ListarProductosxIdsParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q7:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigos" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarProductosxIdsParameters" nillable="true" type="tns:ListarProductosxIdsParameters" />
  <xs:complexType name="ListarRepuestosxProductoParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q8:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idproducto" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarRepuestosxProductoParameters" nillable="true" type="tns:ListarRepuestosxProductoParameters" />
  <xs:complexType name="ListarReparacionRepuestoParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q9:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idrepuesto" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarReparacionRepuestoParameters" nillable="true" type="tns:ListarReparacionRepuestoParameters" />
  <xs:complexType name="ListarTarifaParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q10:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idpartner" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarTarifaParameters" nillable="true" type="tns:ListarTarifaParameters" />
  <xs:complexType name="ListarTipoDiagnosticoParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q11:QueryParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarTipoDiagnosticoParameters" nillable="true" type="tns:ListarTipoDiagnosticoParameters" />
  <xs:complexType name="ListarFallaParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q12:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idcategoriafalla" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idfabricante" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarFallaParameters" nillable="true" type="tns:ListarFallaParameters" />
  <xs:complexType name="ListarTipoReparacionParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q13:QueryParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarTipoReparacionParameters" nillable="true" type="tns:ListarTipoReparacionParameters" />
  <xs:complexType name="ListarTipoFallaParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q14:QueryParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarTipoFallaParameters" nillable="true" type="tns:ListarTipoFallaParameters" />
  <xs:complexType name="ListarTipoGarantiaParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q15:QueryParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarTipoGarantiaParameters" nillable="true" type="tns:ListarTipoGarantiaParameters" />
  <xs:complexType name="ListarReparacionParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q16:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idcategoriareparacion" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idfabricante" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idreparacion" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idtipoproducto" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarReparacionParameters" nillable="true" type="tns:ListarReparacionParameters" />
  <xs:complexType name="ListarTipoProductoParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q17="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q17:QueryParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarTipoProductoParameters" nillable="true" type="tns:ListarTipoProductoParameters" />
  <xs:complexType name="ListarProductosParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q18="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q18:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idfabricante" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idmodelo" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idtipoproducto" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="repuesto" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarProductosParameters" nillable="true" type="tns:ListarProductosParameters" />
  <xs:complexType name="ListarDireccionClienteParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q19="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q19:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idcliente" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarDireccionClienteParameters" nillable="true" type="tns:ListarDireccionClienteParameters" />
  <xs:complexType name="ListarPartnerParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q20="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q20:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="numerodocumento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="razonsocial" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarPartnerParameters" nillable="true" type="tns:ListarPartnerParameters" />
  <xs:complexType name="ListarSucursalParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q21="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q21:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idpartner" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idtipopartner" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarSucursalParameters" nillable="true" type="tns:ListarSucursalParameters" />
  <xs:complexType name="ListarClientesParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q22="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q22:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="criterio" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idtipodocumento" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarClientesParameters" nillable="true" type="tns:ListarClientesParameters" />
  <xs:complexType name="ListarDepartamentoParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q23="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q23:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="iddepartamento" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarDepartamentoParameters" nillable="true" type="tns:ListarDepartamentoParameters" />
  <xs:complexType name="ListarDistritosParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q24="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q24:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idprovincia" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarDistritosParameters" nillable="true" type="tns:ListarDistritosParameters" />
  <xs:complexType name="ListarDistritoZonaEditarParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q25="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q25:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idprovincia" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idzona" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarDistritoZonaEditarParameters" nillable="true" type="tns:ListarDistritoZonaEditarParameters" />
  <xs:complexType name="ListarDistritoZonaParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q26="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q26:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idzona" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarDistritoZonaParameters" nillable="true" type="tns:ListarDistritoZonaParameters" />
  <xs:complexType name="ListarMaestroTablasParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q27="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q27:QueryParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarMaestroTablasParameters" nillable="true" type="tns:ListarMaestroTablasParameters" />
  <xs:complexType name="ListarProvinciasParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q28="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q28:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="iddepartamento" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarProvinciasParameters" nillable="true" type="tns:ListarProvinciasParameters" />
  <xs:complexType name="ListarTransporteParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q29="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q29:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="mot_int_id" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarTransporteParameter" nillable="true" type="tns:ListarTransporteParameter" />
  <xs:complexType name="ListarUbigeoParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q30="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q30:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="criterio" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarUbigeoParameters" nillable="true" type="tns:ListarUbigeoParameters" />
  <xs:complexType name="ListarValorxTablaParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q31="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q31:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idtabla" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="search" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarValorxTablaParameters" nillable="true" type="tns:ListarValorxTablaParameters" />
  <xs:complexType name="ListarZonasParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q32="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q32:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="iddepartamento" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="zona" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarZonasParameters" nillable="true" type="tns:ListarZonasParameters" />
  <xs:complexType name="ObtenerProductoParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q33="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q33:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigoproducto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idproducto" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerProductoParameter" nillable="true" type="tns:ObtenerProductoParameter" />
  <xs:complexType name="ObtenerClienteParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q34="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q34:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerClienteParameter" nillable="true" type="tns:ObtenerClienteParameter" />
  <xs:complexType name="ObtenerDireccionParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q35="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q35:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="iddireccion" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerDireccionParameters" nillable="true" type="tns:ObtenerDireccionParameters" />
  <xs:complexType name="ObtenerPartnerParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q36="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q36:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idpartner" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerPartnerParameter" nillable="true" type="tns:ObtenerPartnerParameter" />
  <xs:complexType name="ObtenerSucursalParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q37="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q37:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idsucursal" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerSucursalParameter" nillable="true" type="tns:ObtenerSucursalParameter" />
  <xs:complexType name="ObtenerValorTablaParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q38="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q38:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idvalortabla" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerValorTablaParameter" nillable="true" type="tns:ObtenerValorTablaParameter" />
  <xs:complexType name="ObtenerZonaParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q39="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q39:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerZonaParameter" nillable="true" type="tns:ObtenerZonaParameter" />
  <xs:complexType name="ValidarDireccionParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q40="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q40:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idcliente" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ValidarDireccionParameter" nillable="true" type="tns:ValidarDireccionParameter" />
  <xs:complexType name="ValidarZonaParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q41="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q41:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idzona" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="zona" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ValidarZonaParameter" nillable="true" type="tns:ValidarZonaParameter" />
</xs:schema>