web/ServiceAgents.Smartway/Service References/SmartwayReference/Smartway3291.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Agendamiento.Incidencias.Parameters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Agendamiento.Incidencias.Parameters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common" />
  <xs:complexType name="ListarAccesoriosParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q1:QueryParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarAccesoriosParameter" nillable="true" type="tns:ListarAccesoriosParameter" />
  <xs:complexType name="ListarIncidenciaCotizacionParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q2:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idincidencia" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarIncidenciaCotizacionParameter" nillable="true" type="tns:ListarIncidenciaCotizacionParameter" />
  <xs:complexType name="ListarIncidenciaEvaluacionParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q3:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idincidencia" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarIncidenciaEvaluacionParameter" nillable="true" type="tns:ListarIncidenciaEvaluacionParameter" />
  <xs:complexType name="ListarPropuestasSolucionParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q4:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idtipogarantia" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarPropuestasSolucionParameter" nillable="true" type="tns:ListarPropuestasSolucionParameter" />
  <xs:complexType name="ListarPropuestasParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q5:QueryParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarPropuestasParameter" nillable="true" type="tns:ListarPropuestasParameter" />
  <xs:complexType name="ListarRepuestosParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q6:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idproducto" type="xs:int" />
          <xs:element minOccurs="0" name="idreparacion" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarRepuestosParameter" nillable="true" type="tns:ListarRepuestosParameter" />
  <xs:complexType name="ListarCondicionesParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q7:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idfabricante" type="xs:int" />
          <xs:element minOccurs="0" name="idtipoproducto" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarCondicionesParameter" nillable="true" type="tns:ListarCondicionesParameter" />
  <xs:complexType name="ListarEvaluarGarantiaParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q8:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idfabricante" type="xs:int" />
          <xs:element minOccurs="0" name="idpartner" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idtipoproducto" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarEvaluarGarantiaParameter" nillable="true" type="tns:ListarEvaluarGarantiaParameter" />
  <xs:complexType name="ListarIncidenciaParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q9:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="fechafin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="fechainicio" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="numerodocumento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="numeroincidencia" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarIncidenciaParameter" nillable="true" type="tns:ListarIncidenciaParameter" />
  <xs:complexType name="CalcularTarifaParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q10:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idnivelreparacion" type="xs:int" />
          <xs:element minOccurs="0" name="idpartner" type="xs:int" />
          <xs:element minOccurs="0" name="idtipoproducto" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CalcularTarifaParameter" nillable="true" type="tns:CalcularTarifaParameter" />
  <xs:complexType name="ObtenerPropuestaParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q11:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idpropuesta" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerPropuestaParameter" nillable="true" type="tns:ObtenerPropuestaParameter" />
  <xs:complexType name="ObtenerIncidenciaParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q12:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idincidencia" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerIncidenciaParameter" nillable="true" type="tns:ObtenerIncidenciaParameter" />
  <xs:complexType name="ObtenerNumeroIncidenciaParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q13:QueryParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerNumeroIncidenciaParameter" nillable="true" type="tns:ObtenerNumeroIncidenciaParameter" />
</xs:schema>