web/ServiceAgents.Smartway/Service References/SmartwayReference/Smartway338.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Agendamiento.Incidencias.Results" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Agendamiento.Incidencias.Results" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common" />
  <xs:complexType name="ListarAccesoriosResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q1:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarAccesoriosDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarAccesoriosResult" nillable="true" type="tns:ListarAccesoriosResult" />
  <xs:complexType name="ArrayOfListarAccesoriosDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarAccesoriosDto" nillable="true" type="tns:ListarAccesoriosDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarAccesoriosDto" nillable="true" type="tns:ArrayOfListarAccesoriosDto" />
  <xs:complexType name="ListarAccesoriosDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idaccesorio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarAccesoriosDto" nillable="true" type="tns:ListarAccesoriosDto" />
  <xs:complexType name="ListarIncidenciaCotizacionResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q2:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarIncidenciaCotizacionDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarIncidenciaCotizacionResult" nillable="true" type="tns:ListarIncidenciaCotizacionResult" />
  <xs:complexType name="ArrayOfListarIncidenciaCotizacionDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarIncidenciaCotizacionDto" nillable="true" type="tns:ListarIncidenciaCotizacionDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarIncidenciaCotizacionDto" nillable="true" type="tns:ArrayOfListarIncidenciaCotizacionDto" />
  <xs:complexType name="ListarIncidenciaCotizacionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="costo" type="xs:decimal" />
      <xs:element minOccurs="0" name="delivery" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="diagnostico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechahoraregistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idcotizacion" type="xs:long" />
      <xs:element minOccurs="0" name="idcotizaciondetalle" type="xs:long" />
      <xs:element minOccurs="0" name="iddiagnostico" type="xs:int" />
      <xs:element minOccurs="0" name="iddirecciondelivery" type="xs:int" />
      <xs:element minOccurs="0" name="idestado" type="xs:int" />
      <xs:element minOccurs="0" name="idincidencia" type="xs:long" />
      <xs:element minOccurs="0" name="idmoneda" type="xs:int" />
      <xs:element minOccurs="0" name="idreparacion" type="xs:int" />
      <xs:element minOccurs="0" name="idrepuesto" type="xs:int" />
      <xs:element minOccurs="0" name="idsucursalreparacion" type="xs:int" />
      <xs:element minOccurs="0" name="idusuarioregistro" type="xs:int" />
      <xs:element minOccurs="0" name="igv" type="xs:decimal" />
      <xs:element minOccurs="0" name="reparacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="repararotrolaboratorio" type="xs:int" />
      <xs:element minOccurs="0" name="repuesto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subtotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="total" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarIncidenciaCotizacionDto" nillable="true" type="tns:ListarIncidenciaCotizacionDto" />
  <xs:complexType name="ListarIncidenciaEvaluacionResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q3:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarIncidenciaEvaluacionDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarIncidenciaEvaluacionResult" nillable="true" type="tns:ListarIncidenciaEvaluacionResult" />
  <xs:complexType name="ArrayOfListarIncidenciaEvaluacionDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarIncidenciaEvaluacionDto" nillable="true" type="tns:ListarIncidenciaEvaluacionDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarIncidenciaEvaluacionDto" nillable="true" type="tns:ArrayOfListarIncidenciaEvaluacionDto" />
  <xs:complexType name="ListarIncidenciaEvaluacionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechahoraregistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idcondicion" type="xs:int" />
      <xs:element minOccurs="0" name="idevaluaciongarantia" type="xs:long" />
      <xs:element minOccurs="0" name="idincidencia" type="xs:long" />
      <xs:element minOccurs="0" name="idusuarioregistro" type="xs:int" />
      <xs:element minOccurs="0" name="observacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valor" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarIncidenciaEvaluacionDto" nillable="true" type="tns:ListarIncidenciaEvaluacionDto" />
  <xs:complexType name="ListarPropuestasSolucionResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q4:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarPropuestasSolucionDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarPropuestasSolucionResult" nillable="true" type="tns:ListarPropuestasSolucionResult" />
  <xs:complexType name="ArrayOfListarPropuestasSolucionDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarPropuestasSolucionDto" nillable="true" type="tns:ListarPropuestasSolucionDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarPropuestasSolucionDto" nillable="true" type="tns:ArrayOfListarPropuestasSolucionDto" />
  <xs:complexType name="ListarPropuestasSolucionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idpropuesta" type="xs:int" />
      <xs:element minOccurs="0" name="idpropuestasolucion" type="xs:int" />
      <xs:element minOccurs="0" name="requiereaprobacion" type="xs:boolean" />
      <xs:element minOccurs="0" name="requieredocumentointerno" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarPropuestasSolucionDto" nillable="true" type="tns:ListarPropuestasSolucionDto" />
  <xs:complexType name="ListarPropuestasResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q5:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarPropuestasDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarPropuestasResult" nillable="true" type="tns:ListarPropuestasResult" />
  <xs:complexType name="ArrayOfListarPropuestasDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarPropuestasDto" nillable="true" type="tns:ListarPropuestasDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarPropuestasDto" nillable="true" type="tns:ArrayOfListarPropuestasDto" />
  <xs:complexType name="ListarPropuestasDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idpropuesta" type="xs:int" />
      <xs:element minOccurs="0" name="requiereautorizacion" type="xs:boolean" />
      <xs:element minOccurs="0" name="requieredocumentointerno" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarPropuestasDto" nillable="true" type="tns:ListarPropuestasDto" />
  <xs:complexType name="ListarRepuestosResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q6:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarRepuestosDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarRepuestosResult" nillable="true" type="tns:ListarRepuestosResult" />
  <xs:complexType name="ArrayOfListarRepuestosDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarRepuestosDto" nillable="true" type="tns:ListarRepuestosDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarRepuestosDto" nillable="true" type="tns:ArrayOfListarRepuestosDto" />
  <xs:complexType name="ListarRepuestosDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcionlarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idproducto" type="xs:int" />
      <xs:element minOccurs="0" name="idreparacion" type="xs:int" />
      <xs:element minOccurs="0" name="idrepuesto" type="xs:int" />
      <xs:element minOccurs="0" name="idrepuestoreparacion" type="xs:int" />
      <xs:element minOccurs="0" name="repuesto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarRepuestosDto" nillable="true" type="tns:ListarRepuestosDto" />
  <xs:complexType name="ListarCondicionesResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q7:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarCondicionesDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarCondicionesResult" nillable="true" type="tns:ListarCondicionesResult" />
  <xs:complexType name="ArrayOfListarCondicionesDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarCondicionesDto" nillable="true" type="tns:ListarCondicionesDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarCondicionesDto" nillable="true" type="tns:ArrayOfListarCondicionesDto" />
  <xs:complexType name="ListarCondicionesDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idcondicion" type="xs:int" />
      <xs:element minOccurs="0" name="tipocondicion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valor" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarCondicionesDto" nillable="true" type="tns:ListarCondicionesDto" />
  <xs:complexType name="ListarEvaluarGarantiaResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q8:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarEvaluarGarantiaDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarEvaluarGarantiaResult" nillable="true" type="tns:ListarEvaluarGarantiaResult" />
  <xs:complexType name="ArrayOfListarEvaluarGarantiaDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarEvaluarGarantiaDto" nillable="true" type="tns:ListarEvaluarGarantiaDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarEvaluarGarantiaDto" nillable="true" type="tns:ArrayOfListarEvaluarGarantiaDto" />
  <xs:complexType name="ListarEvaluarGarantiaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idgarantia" type="xs:int" />
      <xs:element minOccurs="0" name="idtipogarantia" type="xs:int" />
      <xs:element minOccurs="0" name="periodo" type="xs:int" />
      <xs:element minOccurs="0" name="resultado" type="xs:boolean" />
      <xs:element minOccurs="0" name="tipogarantia" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarEvaluarGarantiaDto" nillable="true" type="tns:ListarEvaluarGarantiaDto" />
  <xs:complexType name="ListarIncidenciaResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q9:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarIncidenciaDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarIncidenciaResult" nillable="true" type="tns:ListarIncidenciaResult" />
  <xs:complexType name="ArrayOfListarIncidenciaDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarIncidenciaDto" nillable="true" type="tns:ListarIncidenciaDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarIncidenciaDto" nillable="true" type="tns:ArrayOfListarIncidenciaDto" />
  <xs:complexType name="ListarIncidenciaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoproducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcionlarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="engarantia" type="xs:boolean" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechahoraregistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idcita" type="xs:int" />
      <xs:element minOccurs="0" name="idincidencia" type="xs:long" />
      <xs:element minOccurs="0" name="incidenciagarantia" type="xs:boolean" />
      <xs:element minOccurs="0" name="numerocomprobante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroincidencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sucursal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoincidencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioregistro" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarIncidenciaDto" nillable="true" type="tns:ListarIncidenciaDto" />
  <xs:complexType name="CalcularTarifaResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q10:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="costo" type="xs:decimal" />
          <xs:element minOccurs="0" name="fechahoraregistro" type="xs:dateTime" />
          <xs:element minOccurs="0" name="garantia" type="xs:boolean" />
          <xs:element minOccurs="0" name="idmoneda" type="xs:int" />
          <xs:element minOccurs="0" name="idnivelreparacion" type="xs:int" />
          <xs:element minOccurs="0" name="idtarifa" type="xs:int" />
          <xs:element minOccurs="0" name="idtipotarifa" type="xs:int" />
          <xs:element minOccurs="0" name="idusuarioregistro" type="xs:int" />
          <xs:element minOccurs="0" name="nivelreparacion" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CalcularTarifaResult" nillable="true" type="tns:CalcularTarifaResult" />
  <xs:complexType name="ObtenerPropuestaResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q11:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idpropuesta" type="xs:int" />
          <xs:element minOccurs="0" name="requiereautorizacion" type="xs:boolean" />
          <xs:element minOccurs="0" name="requierecotizacion" type="xs:boolean" />
          <xs:element minOccurs="0" name="requieredocumentointerno" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerPropuestaResult" nillable="true" type="tns:ObtenerPropuestaResult" />
  <xs:complexType name="ObtenerIncidenciaResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q12:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="accesorios" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="anioincidencia" type="xs:int" />
          <xs:element minOccurs="0" name="atendidaxcallcenter" type="xs:boolean" />
          <xs:element minOccurs="0" name="cantidad" type="xs:int" />
          <xs:element minOccurs="0" name="celular" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="codigoproducto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="descuento" type="xs:decimal" />
          <xs:element minOccurs="0" name="direccioncliente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="engarantia" type="xs:boolean" />
          <xs:element minOccurs="0" name="enviarareparar" type="xs:boolean" />
          <xs:element minOccurs="0" name="falla" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="fechaemision" type="xs:dateTime" />
          <xs:element minOccurs="0" name="fechahoraregistro" type="xs:dateTime" />
          <xs:element minOccurs="0" name="firmacliente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idcita" type="xs:int" />
          <xs:element minOccurs="0" name="idcliente" type="xs:int" />
          <xs:element minOccurs="0" name="iddirecciondelivery" type="xs:int" />
          <xs:element minOccurs="0" name="iddocumentocompra" type="xs:long" />
          <xs:element minOccurs="0" name="idestado" type="xs:int" />
          <xs:element minOccurs="0" name="idetapa" type="xs:int" />
          <xs:element minOccurs="0" name="idfabricante" type="xs:int" />
          <xs:element minOccurs="0" name="idfalla" type="xs:int" />
          <xs:element minOccurs="0" name="idincidencia" type="xs:long" />
          <xs:element minOccurs="0" name="idincidenciasolucion" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="idordenserviciotecnico" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="idpartner" type="xs:int" />
          <xs:element minOccurs="0" name="idproducto" type="xs:int" />
          <xs:element minOccurs="0" name="idpropuesta" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idrequerimientocliente" type="xs:int" />
          <xs:element minOccurs="0" name="idsintoma" type="xs:int" />
          <xs:element minOccurs="0" name="idsucursal" type="xs:int" />
          <xs:element minOccurs="0" name="idsucursaldestino" type="xs:int" />
          <xs:element minOccurs="0" name="idsucursalreparacion" type="xs:int" />
          <xs:element minOccurs="0" name="idsucursalventa" type="xs:int" />
          <xs:element minOccurs="0" name="idtipodocumento" type="xs:int" />
          <xs:element minOccurs="0" name="idtipodocumentocompra" type="xs:int" />
          <xs:element minOccurs="0" name="idtipogarantia" type="xs:int" />
          <xs:element minOccurs="0" name="idtipoincidencia" type="xs:int" />
          <xs:element minOccurs="0" name="idtipoproducto" type="xs:int" />
          <xs:element minOccurs="0" name="idtiposolucion" type="xs:int" />
          <xs:element minOccurs="0" name="idusuarioregistro" type="xs:int" />
          <xs:element minOccurs="0" name="imei" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="incidenciagarantia" type="xs:boolean" />
          <xs:element minOccurs="0" name="nombrecliente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="numerocomprobante" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="numerodocumento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="numeroincidencia" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="numeroordenservicio" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="observacionsolucion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="partedelantera" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="partederecha" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="parteinferior" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="parteizquierda" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="parteposterior" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="partesuperior" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="periodogarantia" type="xs:int" />
          <xs:element minOccurs="0" name="producto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="requerimientocliente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="requiereevaluacion" type="xs:boolean" />
          <xs:element minOccurs="0" name="serie" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tipogarantia" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="total" type="xs:decimal" />
          <xs:element minOccurs="0" name="ultimoestado" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerIncidenciaResult" nillable="true" type="tns:ObtenerIncidenciaResult" />
  <xs:complexType name="ObtenerNumeroIncidenciaResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q13:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="anio_incidencia" type="xs:int" />
          <xs:element minOccurs="0" name="numero_incidencia" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerNumeroIncidenciaResult" nillable="true" type="tns:ObtenerNumeroIncidenciaResult" />
</xs:schema>