web/ServiceAgents.Smartway/Service References/SmartwayReference/Smartway3281.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Despacho.Parameters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Despacho.Parameters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common" />
  <xs:complexType name="EntregarDespachoDeliveryParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q1:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idprogramacion" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntregarDespachoDeliveryParameter" nillable="true" type="tns:EntregarDespachoDeliveryParameter" />
  <xs:complexType name="ListarOrdenSalidaParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q2:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idordensalida" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarOrdenSalidaParameter" nillable="true" type="tns:ListarOrdenSalidaParameter" />
  <xs:complexType name="ObtenerGuiaRemisionParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q3:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idguiaremision" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerGuiaRemisionParameter" nillable="true" type="tns:ObtenerGuiaRemisionParameter" />
  <xs:complexType name="ListarGuiaRemisionParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q4:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idestado" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idsucursaldestino" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idsucursalorigen" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarGuiaRemisionParameter" nillable="true" type="tns:ListarGuiaRemisionParameter" />
  <xs:complexType name="ListarProgramacionParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q5:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="fechafin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="fechaini" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idestado" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idsucursaldestino" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idsucursalorigen" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarProgramacionParameter" nillable="true" type="tns:ListarProgramacionParameter" />
  <xs:complexType name="ListarTransporteParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q6:QueryParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarTransporteParameter" nillable="true" type="tns:ListarTransporteParameter" />
  <xs:complexType name="ObtenerOrdenTrabajoParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q7:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idordentrabajo" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerOrdenTrabajoParameter" nillable="true" type="tns:ObtenerOrdenTrabajoParameter" />
  <xs:complexType name="ObtenerOrdenServicioParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q8:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idordenservicio" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerOrdenServicioParameter" nillable="true" type="tns:ObtenerOrdenServicioParameter" />
</xs:schema>