web/ServiceAgents.Smartway/Service References/SmartwayReference/Smartway312.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Recepcion.Parameters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Recepcion.Parameters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common" />
  <xs:complexType name="ListarAlmacenParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q1:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigoalmacen" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idsucursal" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarAlmacenParameters" nillable="true" type="tns:ListarAlmacenParameters" />
  <xs:complexType name="InsertarDocumentoRecepcionDetalleParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q2:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfInsertarDocumentoRecepcionDetalleDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarDocumentoRecepcionDetalleParameter" nillable="true" type="tns:InsertarDocumentoRecepcionDetalleParameter" />
  <xs:complexType name="ArrayOfInsertarDocumentoRecepcionDetalleDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InsertarDocumentoRecepcionDetalleDto" nillable="true" type="tns:InsertarDocumentoRecepcionDetalleDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInsertarDocumentoRecepcionDetalleDto" nillable="true" type="tns:ArrayOfInsertarDocumentoRecepcionDetalleDto" />
  <xs:complexType name="InsertarDocumentoRecepcionDetalleDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="caja" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="fechahorapersonalizacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fila" type="xs:int" />
      <xs:element minOccurs="0" name="idalmacen" type="xs:int" />
      <xs:element minOccurs="0" name="iddocumentorecepcion" type="xs:long" />
      <xs:element minOccurs="0" name="iddocumentorecepciondetalle" type="xs:long" />
      <xs:element minOccurs="0" name="idmodelo" type="xs:int" />
      <xs:element minOccurs="0" name="idproducto" type="xs:int" />
      <xs:element minOccurs="0" name="idtipoproducto" type="xs:int" />
      <xs:element minOccurs="0" name="idusuariopersonalizacion" type="xs:int" />
      <xs:element minOccurs="0" name="imei" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mac" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeropallet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="repuesto" type="xs:boolean" />
      <xs:element minOccurs="0" name="serie" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertarDocumentoRecepcionDetalleDto" nillable="true" type="tns:InsertarDocumentoRecepcionDetalleDto" />
  <xs:complexType name="ListarDocumentoRecepcionParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q3:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="fechahorafin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="fechahorainicio" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="numeroordenservicio" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarDocumentoRecepcionParameters" nillable="true" type="tns:ListarDocumentoRecepcionParameters" />
  <xs:complexType name="ListarOrdenServicioRecepcionParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q4:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idguiaremision" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarOrdenServicioRecepcionParameters" nillable="true" type="tns:ListarOrdenServicioRecepcionParameters" />
</xs:schema>