web/ServiceAgents.Smartway/Service References/SmartwayReference/Smartway315.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Reparacion.Parameters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Reparacion.Parameters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common" />
  <xs:complexType name="ListarAntecedentesDetalleParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q1:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idordenservicio" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarAntecedentesDetalleParameter" nillable="true" type="tns:ListarAntecedentesDetalleParameter" />
  <xs:complexType name="ListarAntecedentesParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q2:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idordenservicio" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarAntecedentesParameter" nillable="true" type="tns:ListarAntecedentesParameter" />
  <xs:complexType name="ListarOrdenTrabajoTiempoParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q3:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idordentrabajo" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarOrdenTrabajoTiempoParameters" nillable="true" type="tns:ListarOrdenTrabajoTiempoParameters" />
  <xs:complexType name="ListarVentaCotizacionDetalleParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q4:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idordenservicio" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarVentaCotizacionDetalleParameters" nillable="true" type="tns:ListarVentaCotizacionDetalleParameters" />
  <xs:complexType name="ListarOrdenTrabajoDetalleParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q5:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idordentrabajo" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarOrdenTrabajoDetalleParameters" nillable="true" type="tns:ListarOrdenTrabajoDetalleParameters" />
  <xs:complexType name="ListarOrdenServicioParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q6:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="fechafin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="fechainicio" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idestado" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idsupervisor" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idtecnico" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="numeroordenservicio" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="serie" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarOrdenServicioParameters" nillable="true" type="tns:ListarOrdenServicioParameters" />
  <xs:complexType name="ObtenerUltimaOrdenTrabajoParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q7:QueryParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerUltimaOrdenTrabajoParameter" nillable="true" type="tns:ObtenerUltimaOrdenTrabajoParameter" />
</xs:schema>