web/ServiceAgents.Smartway/Service References/SmartwayReference/Smartway332.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryContracts.TYS.Facturacion.Results" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryContracts.TYS.Facturacion.Results" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common" />
  <xs:complexType name="ListarDocumentosResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q1:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarDocumentosDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarDocumentosResult" nillable="true" type="tns:ListarDocumentosResult" />
  <xs:complexType name="ArrayOfListarDocumentosDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarDocumentosDto" nillable="true" type="tns:ListarDocumentosDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarDocumentosDto" nillable="true" type="tns:ArrayOfListarDocumentosDto" />
  <xs:complexType name="ListarDocumentosDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="estacionorigen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idestacion" type="xs:int" />
      <xs:element minOccurs="0" name="idnumerodocumento" type="xs:int" />
      <xs:element minOccurs="0" name="idtipocomprobante" type="xs:int" />
      <xs:element minOccurs="0" name="idusuarioautorizado" type="xs:int" />
      <xs:element minOccurs="0" name="primernumero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipodocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ultimonumero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarDocumentosDto" nillable="true" type="tns:ListarDocumentosDto" />
  <xs:complexType name="ObtenerNumeroComprobanteResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q2:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="idnumerodocumento" type="xs:int" />
          <xs:element minOccurs="0" name="primernumero" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="serie" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ultimonumero" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerNumeroComprobanteResult" nillable="true" type="tns:ObtenerNumeroComprobanteResult" />
</xs:schema>