web/ServiceAgents.Smartway/Service References/SmartwayReference/Smartway339.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Account.Results" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Account.Results" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common" />
  <xs:complexType name="ObtenerUsuarioResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q1:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="ListaRoles" nillable="true" type="tns:ArrayOfRolDto" />
          <xs:element minOccurs="0" name="Rol_int_id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Sis_int_id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Ssis_int_id" type="xs:int" />
          <xs:element minOccurs="0" name="Usr_dat_fecregistro" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Usr_dat_fecvctopwd" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Usr_dat_fecvctousuario" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Usr_dat_ultfecbloqueo" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Usr_dat_ultfeclogin" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Usr_int_aprobado" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Usr_int_bloqueado" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Usr_int_cambiarpwd" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Usr_int_id" type="xs:long" />
          <xs:element minOccurs="0" name="Usr_int_numintentos" type="xs:int" />
          <xs:element minOccurs="0" name="Usr_int_online" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Usr_str_apellidos" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Usr_str_email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Usr_str_nombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Usr_str_red" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Usr_str_tipoacceso" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="callcenter" type="xs:boolean" />
          <xs:element minOccurs="0" name="idpartner" type="xs:int" />
          <xs:element minOccurs="0" name="idsucursal" type="xs:int" />
          <xs:element minOccurs="0" name="idtipousuario" type="xs:int" />
          <xs:element minOccurs="0" name="respuestamensaje" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tiposproducto" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerUsuarioResult" nillable="true" type="tns:ObtenerUsuarioResult" />
  <xs:complexType name="ArrayOfRolDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RolDto" nillable="true" type="tns:RolDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRolDto" nillable="true" type="tns:ArrayOfRolDto" />
  <xs:complexType name="RolDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Rol_int_id" type="xs:int" />
      <xs:element minOccurs="0" name="Rol_str_alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rol_str_descrip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RolDto" nillable="true" type="tns:RolDto" />
  <xs:complexType name="ObtenerUsuarioResult1">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q2:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="callcenter" type="xs:boolean" />
          <xs:element minOccurs="0" name="idcliente" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idpartner" type="xs:int" />
          <xs:element minOccurs="0" name="idsucursal" type="xs:int" />
          <xs:element minOccurs="0" name="idtipousuario" type="xs:int" />
          <xs:element minOccurs="0" name="ssis_int_id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="tiposproducto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="usr_bit_aprobado" type="xs:int" />
          <xs:element minOccurs="0" name="usr_int_bloqueado" type="xs:int" />
          <xs:element minOccurs="0" name="usr_int_id" type="xs:int" />
          <xs:element minOccurs="0" name="usr_str_apellidos" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="usr_str_dni" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="usr_str_email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="usr_str_nombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="usr_str_red" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="usr_str_tienda" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="usr_str_tipoacceso" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerUsuarioResult1" nillable="true" type="tns:ObtenerUsuarioResult1" />
  <xs:complexType name="ValidarUsuarioResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q3:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Usr_dat_fecvctopwd" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Usr_dat_ultfeclogin" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Usr_int_aprobado" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Usr_int_bloqueado" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Usr_int_id" type="xs:int" />
          <xs:element minOccurs="0" name="Usr_int_numintentos" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Usr_int_pwdvalido" type="xs:int" />
          <xs:element minOccurs="0" name="Usr_int_rolinvalido" type="xs:int" />
          <xs:element minOccurs="0" name="Usr_str_recordarpwd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Usr_str_red" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="usr_bit_eliminado" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ValidarUsuarioResult" nillable="true" type="tns:ValidarUsuarioResult" />
</xs:schema>