web/ServiceAgents.Smartway/Service References/SmartwayReference/Smartway336.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Mantenimiento.Results" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryContracts.Smartway.Mantenimiento.Results" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50020/Smartway3?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common" />
  <xs:complexType name="ListarAntecedentesResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q1:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Clientes" nillable="true" type="tns:ArrayOfListarAntecedentesIncidenteDto" />
          <xs:element minOccurs="0" name="Productos" nillable="true" type="tns:ArrayOfListarAntecedentesIncidenteDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarAntecedentesResult" nillable="true" type="tns:ListarAntecedentesResult" />
  <xs:complexType name="ArrayOfListarAntecedentesIncidenteDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarAntecedentesIncidenteDto" nillable="true" type="tns:ListarAntecedentesIncidenteDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarAntecedentesIncidenteDto" nillable="true" type="tns:ArrayOfListarAntecedentesIncidenteDto" />
  <xs:complexType name="ListarAntecedentesIncidenteDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="accesorios" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="anioincidencia" type="xs:int" />
      <xs:element minOccurs="0" name="atendidaxcallcenter" type="xs:boolean" />
      <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoproducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descuento" type="xs:decimal" />
      <xs:element minOccurs="0" name="direccioncliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="engarantia" type="xs:boolean" />
      <xs:element minOccurs="0" name="enviarareparar" type="xs:boolean" />
      <xs:element minOccurs="0" name="falla" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaemision" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechahoraregistro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firmacliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idfalla" type="xs:int" />
      <xs:element minOccurs="0" name="idincidencia" type="xs:long" />
      <xs:element minOccurs="0" name="imei" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombrecliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numerocomprobante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numerodocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroincidencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroordenservicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="periodogarantia" type="xs:int" />
      <xs:element minOccurs="0" name="producto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="requerimientocliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="requiereevaluacion" type="xs:boolean" />
      <xs:element minOccurs="0" name="serie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipogarantia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="total" type="xs:decimal" />
      <xs:element minOccurs="0" name="ultimoestado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarAntecedentesIncidenteDto" nillable="true" type="tns:ListarAntecedentesIncidenteDto" />
  <xs:complexType name="ListarCategoriaFallaResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q2:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarCategoriaFallaDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarCategoriaFallaResult" nillable="true" type="tns:ListarCategoriaFallaResult" />
  <xs:complexType name="ArrayOfListarCategoriaFallaDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarCategoriaFallaDto" nillable="true" type="tns:ListarCategoriaFallaDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarCategoriaFallaDto" nillable="true" type="tns:ArrayOfListarCategoriaFallaDto" />
  <xs:complexType name="ListarCategoriaFallaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idcategoriafalla" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarCategoriaFallaDto" nillable="true" type="tns:ListarCategoriaFallaDto" />
  <xs:complexType name="ListarEstadosResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q3:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarEstadosDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarEstadosResult" nillable="true" type="tns:ListarEstadosResult" />
  <xs:complexType name="ArrayOfListarEstadosDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarEstadosDto" nillable="true" type="tns:ListarEstadosDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarEstadosDto" nillable="true" type="tns:ArrayOfListarEstadosDto" />
  <xs:complexType name="ListarEstadosDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idestado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarEstadosDto" nillable="true" type="tns:ListarEstadosDto" />
  <xs:complexType name="ListarGarantiaResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q4:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarGarantiaDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarGarantiaResult" nillable="true" type="tns:ListarGarantiaResult" />
  <xs:complexType name="ArrayOfListarGarantiaDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarGarantiaDto" nillable="true" type="tns:ListarGarantiaDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarGarantiaDto" nillable="true" type="tns:ArrayOfListarGarantiaDto" />
  <xs:complexType name="ListarGarantiaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="documentocompra" type="xs:boolean" />
      <xs:element minOccurs="0" name="fabricante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechahoraregistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idfabricante" type="xs:int" />
      <xs:element minOccurs="0" name="idgarantia" type="xs:int" />
      <xs:element minOccurs="0" name="idpartner" type="xs:int" />
      <xs:element minOccurs="0" name="idtipogarantia" type="xs:int" />
      <xs:element minOccurs="0" name="idtipoproducto" type="xs:int" />
      <xs:element minOccurs="0" name="idusuarioregistro" type="xs:int" />
      <xs:element minOccurs="0" name="periodo" type="xs:int" />
      <xs:element minOccurs="0" name="reparacion" type="xs:boolean" />
      <xs:element minOccurs="0" name="tipogarantia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoproducto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarGarantiaDto" nillable="true" type="tns:ListarGarantiaDto" />
  <xs:complexType name="ListarCategoriaReparacionResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q5:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarCategoriaReparacionDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarCategoriaReparacionResult" nillable="true" type="tns:ListarCategoriaReparacionResult" />
  <xs:complexType name="ArrayOfListarCategoriaReparacionDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarCategoriaReparacionDto" nillable="true" type="tns:ListarCategoriaReparacionDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarCategoriaReparacionDto" nillable="true" type="tns:ArrayOfListarCategoriaReparacionDto" />
  <xs:complexType name="ListarCategoriaReparacionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idcategoriareparacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarCategoriaReparacionDto" nillable="true" type="tns:ListarCategoriaReparacionDto" />
  <xs:complexType name="ListarProductosxIdsResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q6:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarProductosxIdsDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarProductosxIdsResult" nillable="true" type="tns:ListarProductosxIdsResult" />
  <xs:complexType name="ArrayOfListarProductosxIdsDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarProductosxIdsDto" nillable="true" type="tns:ListarProductosxIdsDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarProductosxIdsDto" nillable="true" type="tns:ArrayOfListarProductosxIdsDto" />
  <xs:complexType name="ListarProductosxIdsDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="codigoproducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcioncorta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcionlarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fabricante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idfabricante" type="xs:int" />
      <xs:element minOccurs="0" name="idfamilia" type="xs:int" />
      <xs:element minOccurs="0" name="idmodelo" type="xs:int" />
      <xs:element minOccurs="0" name="idmoneda" type="xs:int" />
      <xs:element minOccurs="0" name="idproducto" type="xs:int" />
      <xs:element minOccurs="0" name="idrequisitoascanear" type="xs:int" />
      <xs:element minOccurs="0" name="idtipoproducto" type="xs:int" />
      <xs:element minOccurs="0" name="modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="moneda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="peso" type="xs:decimal" />
      <xs:element minOccurs="0" name="preciounitario" type="xs:decimal" />
      <xs:element minOccurs="0" name="repuesto" type="xs:boolean" />
      <xs:element minOccurs="0" name="tipoproducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="volumen" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarProductosxIdsDto" nillable="true" type="tns:ListarProductosxIdsDto" />
  <xs:complexType name="ListarRepuestosxProductoResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q7:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarRepuestosxProductoDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarRepuestosxProductoResult" nillable="true" type="tns:ListarRepuestosxProductoResult" />
  <xs:complexType name="ArrayOfListarRepuestosxProductoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarRepuestosxProductoDto" nillable="true" type="tns:ListarRepuestosxProductoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarRepuestosxProductoDto" nillable="true" type="tns:ArrayOfListarRepuestosxProductoDto" />
  <xs:complexType name="ListarRepuestosxProductoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcionlarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idrepuesto" type="xs:int" />
      <xs:element minOccurs="0" name="idrepuestoxproducto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarRepuestosxProductoDto" nillable="true" type="tns:ListarRepuestosxProductoDto" />
  <xs:complexType name="ListarReparacionRepuestoResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q8:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarReparacionRepuestoDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarReparacionRepuestoResult" nillable="true" type="tns:ListarReparacionRepuestoResult" />
  <xs:complexType name="ArrayOfListarReparacionRepuestoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarReparacionRepuestoDto" nillable="true" type="tns:ListarReparacionRepuestoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarReparacionRepuestoDto" nillable="true" type="tns:ArrayOfListarReparacionRepuestoDto" />
  <xs:complexType name="ListarReparacionRepuestoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idreparacion" type="xs:int" />
      <xs:element minOccurs="0" name="idrepuestoreparacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarReparacionRepuestoDto" nillable="true" type="tns:ListarReparacionRepuestoDto" />
  <xs:complexType name="ListarReparacionResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q9:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarReparacionDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarReparacionResult" nillable="true" type="tns:ListarReparacionResult" />
  <xs:complexType name="ArrayOfListarReparacionDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarReparacionDto" nillable="true" type="tns:ListarReparacionDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarReparacionDto" nillable="true" type="tns:ArrayOfListarReparacionDto" />
  <xs:complexType name="ListarReparacionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="categoriareparacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigosmartway" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fabricante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idnivelreparacion" type="xs:int" />
      <xs:element minOccurs="0" name="idreparacion" type="xs:int" />
      <xs:element minOccurs="0" name="nivelreparacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoproducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tiporeparacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarReparacionDto" nillable="true" type="tns:ListarReparacionDto" />
  <xs:complexType name="ListarTipoDiagnosticoResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q10:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarTipoDiagnosticoDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarTipoDiagnosticoResult" nillable="true" type="tns:ListarTipoDiagnosticoResult" />
  <xs:complexType name="ArrayOfListarTipoDiagnosticoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarTipoDiagnosticoDto" nillable="true" type="tns:ListarTipoDiagnosticoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarTipoDiagnosticoDto" nillable="true" type="tns:ArrayOfListarTipoDiagnosticoDto" />
  <xs:complexType name="ListarTipoDiagnosticoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idtipodiagnostico" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarTipoDiagnosticoDto" nillable="true" type="tns:ListarTipoDiagnosticoDto" />
  <xs:complexType name="ListarFallaResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q11:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarFallaDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarFallaResult" nillable="true" type="tns:ListarFallaResult" />
  <xs:complexType name="ArrayOfListarFallaDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarFallaDto" nillable="true" type="tns:ListarFallaDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarFallaDto" nillable="true" type="tns:ArrayOfListarFallaDto" />
  <xs:complexType name="ListarFallaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoriafalla" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigosmartway" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fabricante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idfalla" type="xs:int" />
      <xs:element minOccurs="0" name="tipofalla" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoproducto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarFallaDto" nillable="true" type="tns:ListarFallaDto" />
  <xs:complexType name="ListarDiagnosticoResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q12:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarDiagnosticoDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarDiagnosticoResult" nillable="true" type="tns:ListarDiagnosticoResult" />
  <xs:complexType name="ArrayOfListarDiagnosticoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarDiagnosticoDto" nillable="true" type="tns:ListarDiagnosticoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarDiagnosticoDto" nillable="true" type="tns:ArrayOfListarDiagnosticoDto" />
  <xs:complexType name="ListarDiagnosticoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoriareparacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigosmartway" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fabricante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idcategoriareparacion" type="xs:int" />
      <xs:element minOccurs="0" name="iddiagnostico" type="xs:int" />
      <xs:element minOccurs="0" name="idfabricante" type="xs:int" />
      <xs:element minOccurs="0" name="idtipodiagnostico" type="xs:int" />
      <xs:element minOccurs="0" name="tipodiagnostico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoproducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tiposproducto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarDiagnosticoDto" nillable="true" type="tns:ListarDiagnosticoDto" />
  <xs:complexType name="ListarTipoFallaResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q13:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarTipoFallaDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarTipoFallaResult" nillable="true" type="tns:ListarTipoFallaResult" />
  <xs:complexType name="ArrayOfListarTipoFallaDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarTipoFallaDto" nillable="true" type="tns:ListarTipoFallaDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarTipoFallaDto" nillable="true" type="tns:ArrayOfListarTipoFallaDto" />
  <xs:complexType name="ListarTipoFallaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idtipofalla" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarTipoFallaDto" nillable="true" type="tns:ListarTipoFallaDto" />
  <xs:complexType name="ListarTipoReparacionResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q14:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarTipoReparacionDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarTipoReparacionResult" nillable="true" type="tns:ListarTipoReparacionResult" />
  <xs:complexType name="ArrayOfListarTipoReparacionDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarTipoReparacionDto" nillable="true" type="tns:ListarTipoReparacionDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarTipoReparacionDto" nillable="true" type="tns:ArrayOfListarTipoReparacionDto" />
  <xs:complexType name="ListarTipoReparacionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idtiporeparacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarTipoReparacionDto" nillable="true" type="tns:ListarTipoReparacionDto" />
  <xs:complexType name="ListarTipoGarantiaResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q15:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarTipoGarantiaDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarTipoGarantiaResult" nillable="true" type="tns:ListarTipoGarantiaResult" />
  <xs:complexType name="ArrayOfListarTipoGarantiaDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarTipoGarantiaDto" nillable="true" type="tns:ListarTipoGarantiaDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarTipoGarantiaDto" nillable="true" type="tns:ArrayOfListarTipoGarantiaDto" />
  <xs:complexType name="ListarTipoGarantiaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idtipogarantia" type="xs:int" />
      <xs:element minOccurs="0" name="logica" type="xs:boolean" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="venta" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarTipoGarantiaDto" nillable="true" type="tns:ListarTipoGarantiaDto" />
  <xs:complexType name="ListarTarifaResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q16:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarTarifaDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarTarifaResult" nillable="true" type="tns:ListarTarifaResult" />
  <xs:complexType name="ArrayOfListarTarifaDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarTarifaDto" nillable="true" type="tns:ListarTarifaDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarTarifaDto" nillable="true" type="tns:ArrayOfListarTarifaDto" />
  <xs:complexType name="ListarTarifaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="costo" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="diagnostico" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="garantia" type="xs:boolean" />
      <xs:element minOccurs="0" name="idmoneda" type="xs:int" />
      <xs:element minOccurs="0" name="idnivelreparacion" type="xs:int" />
      <xs:element minOccurs="0" name="idpartner" type="xs:int" />
      <xs:element minOccurs="0" name="idtarifa" type="xs:int" />
      <xs:element minOccurs="0" name="idtipoproducto" type="xs:int" />
      <xs:element minOccurs="0" name="idtipotarifa" type="xs:int" />
      <xs:element minOccurs="0" name="moneda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nivelreparacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="revision" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="tipoproducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipotarifa" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarTarifaDto" nillable="true" type="tns:ListarTarifaDto" />
  <xs:complexType name="ListarTipoProductoResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q17="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q17:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarTipoProductoDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarTipoProductoResult" nillable="true" type="tns:ListarTipoProductoResult" />
  <xs:complexType name="ArrayOfListarTipoProductoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarTipoProductoDto" nillable="true" type="tns:ListarTipoProductoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarTipoProductoDto" nillable="true" type="tns:ArrayOfListarTipoProductoDto" />
  <xs:complexType name="ListarTipoProductoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="idtipoproducto" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="repuesto" type="xs:boolean" />
      <xs:element minOccurs="0" name="rutaimagenadelante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rutaimagenatras" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rutaimagenderecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rutaimagenizquierda" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarTipoProductoDto" nillable="true" type="tns:ListarTipoProductoDto" />
  <xs:complexType name="ListarProductosResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q18="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q18:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarProductosDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarProductosResult" nillable="true" type="tns:ListarProductosResult" />
  <xs:complexType name="ArrayOfListarProductosDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarProductosDto" nillable="true" type="tns:ListarProductosDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarProductosDto" nillable="true" type="tns:ArrayOfListarProductosDto" />
  <xs:complexType name="ListarProductosDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="codigoproducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcioncorta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcionlarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fabricante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idfabricante" type="xs:int" />
      <xs:element minOccurs="0" name="idfamilia" type="xs:int" />
      <xs:element minOccurs="0" name="idmodelo" type="xs:int" />
      <xs:element minOccurs="0" name="idmoneda" type="xs:int" />
      <xs:element minOccurs="0" name="idproducto" type="xs:int" />
      <xs:element minOccurs="0" name="idtipoproducto" type="xs:int" />
      <xs:element minOccurs="0" name="modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="moneda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="peso" type="xs:decimal" />
      <xs:element minOccurs="0" name="preciounitario" type="xs:decimal" />
      <xs:element minOccurs="0" name="repuesto" type="xs:boolean" />
      <xs:element minOccurs="0" name="tipoproducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="volumen" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarProductosDto" nillable="true" type="tns:ListarProductosDto" />
  <xs:complexType name="ListarDireccionClienteResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q19="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q19:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarDireccionClienteDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarDireccionClienteResult" nillable="true" type="tns:ListarDireccionClienteResult" />
  <xs:complexType name="ArrayOfListarDireccionClienteDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarDireccionClienteDto" nillable="true" type="tns:ListarDireccionClienteDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarDireccionClienteDto" nillable="true" type="tns:ArrayOfListarDireccionClienteDto" />
  <xs:complexType name="ListarDireccionClienteDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="iddepartamento" type="xs:int" />
      <xs:element minOccurs="0" name="iddireccion" type="xs:int" />
      <xs:element minOccurs="0" name="iddistrito" type="xs:int" />
      <xs:element minOccurs="0" name="idprovincia" type="xs:int" />
      <xs:element minOccurs="0" name="principal" type="xs:boolean" />
      <xs:element minOccurs="0" name="provincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="puntopartida" type="xs:boolean" />
      <xs:element minOccurs="0" name="ubigeo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarDireccionClienteDto" nillable="true" type="tns:ListarDireccionClienteDto" />
  <xs:complexType name="ListarPartnerResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q20="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q20:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarPartnerDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarPartnerResult" nillable="true" type="tns:ListarPartnerResult" />
  <xs:complexType name="ArrayOfListarPartnerDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarPartnerDto" nillable="true" type="tns:ListarPartnerDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarPartnerDto" nillable="true" type="tns:ArrayOfListarPartnerDto" />
  <xs:complexType name="ListarPartnerDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="condicionpago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contacto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idcondicionentrega" type="xs:int" />
      <xs:element minOccurs="0" name="idcondicionpago" type="xs:int" />
      <xs:element minOccurs="0" name="idcondicionrecojo" type="xs:int" />
      <xs:element minOccurs="0" name="idmoneda" type="xs:int" />
      <xs:element minOccurs="0" name="idpartner" type="xs:int" />
      <xs:element minOccurs="0" name="idtipodocumento" type="xs:int" />
      <xs:element minOccurs="0" name="idtipopartner" type="xs:int" />
      <xs:element minOccurs="0" name="lineaconsumida" type="xs:decimal" />
      <xs:element minOccurs="0" name="lineacredito" type="xs:decimal" />
      <xs:element minOccurs="0" name="nombrecorto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numerodocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="razonsocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipopartner" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarPartnerDto" nillable="true" type="tns:ListarPartnerDto" />
  <xs:complexType name="ListarSucursalResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q21="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q21:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarSucursalDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarSucursalResult" nillable="true" type="tns:ListarSucursalResult" />
  <xs:complexType name="ArrayOfListarSucursalDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarSucursalDto" nillable="true" type="tns:ListarSucursalDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarSucursalDto" nillable="true" type="tns:ArrayOfListarSucursalDto" />
  <xs:complexType name="ListarSucursalDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="condicionentrega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="condicionrecojo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contacto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="delivery" type="xs:boolean" />
      <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idcondicionentrega" type="xs:int" />
      <xs:element minOccurs="0" name="idcondicionrecojo" type="xs:int" />
      <xs:element minOccurs="0" name="idpartner" type="xs:int" />
      <xs:element minOccurs="0" name="idsucursal" type="xs:int" />
      <xs:element minOccurs="0" name="idtipopago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idtiposucursal" type="xs:int" />
      <xs:element minOccurs="0" name="laboratoriocentral" type="xs:boolean" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="partner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="reparacion" type="xs:boolean" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipopago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tiposucursal" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarSucursalDto" nillable="true" type="tns:ListarSucursalDto" />
  <xs:complexType name="ListarClientesResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q22="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q22:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarClientesDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarClientesResult" nillable="true" type="tns:ListarClientesResult" />
  <xs:complexType name="ArrayOfListarClientesDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarClientesDto" nillable="true" type="tns:ListarClientesDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarClientesDto" nillable="true" type="tns:ArrayOfListarClientesDto" />
  <xs:complexType name="ListarClientesDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contacto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idcliente" type="xs:int" />
      <xs:element minOccurs="0" name="iddireccion" type="xs:int" />
      <xs:element minOccurs="0" name="iddistrito" type="xs:int" />
      <xs:element minOccurs="0" name="idtipodocumento" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numerodocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipodocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ubigeo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarClientesDto" nillable="true" type="tns:ListarClientesDto" />
  <xs:complexType name="ListarDepartamentosResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q23="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q23:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarDepartamentosDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarDepartamentosResult" nillable="true" type="tns:ListarDepartamentosResult" />
  <xs:complexType name="ArrayOfListarDepartamentosDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarDepartamentosDto" nillable="true" type="tns:ListarDepartamentosDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarDepartamentosDto" nillable="true" type="tns:ArrayOfListarDepartamentosDto" />
  <xs:complexType name="ListarDepartamentosDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="iddepartamento" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarDepartamentosDto" nillable="true" type="tns:ListarDepartamentosDto" />
  <xs:complexType name="ListarDistritosResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q24="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q24:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarDistritosDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarDistritosResult" nillable="true" type="tns:ListarDistritosResult" />
  <xs:complexType name="ArrayOfListarDistritosDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarDistritosDto" nillable="true" type="tns:ListarDistritosDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarDistritosDto" nillable="true" type="tns:ArrayOfListarDistritosDto" />
  <xs:complexType name="ListarDistritosDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="iddistrito" type="xs:int" />
      <xs:element minOccurs="0" name="seleccionado" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarDistritosDto" nillable="true" type="tns:ListarDistritosDto" />
  <xs:complexType name="ListarDistritoZonaEditarResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q25="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q25:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarDistritoZonaEditarDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarDistritoZonaEditarResult" nillable="true" type="tns:ListarDistritoZonaEditarResult" />
  <xs:complexType name="ArrayOfListarDistritoZonaEditarDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarDistritoZonaEditarDto" nillable="true" type="tns:ListarDistritoZonaEditarDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarDistritoZonaEditarDto" nillable="true" type="tns:ArrayOfListarDistritoZonaEditarDto" />
  <xs:complexType name="ListarDistritoZonaEditarDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="iddistrito" type="xs:int" />
      <xs:element minOccurs="0" name="idzona" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarDistritoZonaEditarDto" nillable="true" type="tns:ListarDistritoZonaEditarDto" />
  <xs:complexType name="ListarDistritoZonaResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q26="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q26:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarDistritoZonaDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarDistritoZonaResult" nillable="true" type="tns:ListarDistritoZonaResult" />
  <xs:complexType name="ArrayOfListarDistritoZonaDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarDistritoZonaDto" nillable="true" type="tns:ListarDistritoZonaDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarDistritoZonaDto" nillable="true" type="tns:ArrayOfListarDistritoZonaDto" />
  <xs:complexType name="ListarDistritoZonaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="iddistrito" type="xs:int" />
      <xs:element minOccurs="0" name="provincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zona" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarDistritoZonaDto" nillable="true" type="tns:ListarDistritoZonaDto" />
  <xs:complexType name="ListarMaestroTablasResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q27="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q27:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarMaestroTablasDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarMaestroTablasResult" nillable="true" type="tns:ListarMaestroTablasResult" />
  <xs:complexType name="ArrayOfListarMaestroTablasDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarMaestroTablasDto" nillable="true" type="tns:ListarMaestroTablasDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarMaestroTablasDto" nillable="true" type="tns:ArrayOfListarMaestroTablasDto" />
  <xs:complexType name="ListarMaestroTablasDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="idmaestrotabla" type="xs:int" />
      <xs:element minOccurs="0" name="tabla" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarMaestroTablasDto" nillable="true" type="tns:ListarMaestroTablasDto" />
  <xs:complexType name="ListarProvinciasResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q28="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q28:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarProvinciasDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarProvinciasResult" nillable="true" type="tns:ListarProvinciasResult" />
  <xs:complexType name="ArrayOfListarProvinciasDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarProvinciasDto" nillable="true" type="tns:ListarProvinciasDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarProvinciasDto" nillable="true" type="tns:ArrayOfListarProvinciasDto" />
  <xs:complexType name="ListarProvinciasDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="idprovincia" type="xs:int" />
      <xs:element minOccurs="0" name="provincia" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarProvinciasDto" nillable="true" type="tns:ListarProvinciasDto" />
  <xs:complexType name="ListarTransporteResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q29="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q29:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarTransporteDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarTransporteResult" nillable="true" type="tns:ListarTransporteResult" />
  <xs:complexType name="ArrayOfListarTransporteDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarTransporteDto" nillable="true" type="tns:ListarTransporteDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarTransporteDto" nillable="true" type="tns:ArrayOfListarTransporteDto" />
  <xs:complexType name="ListarTransporteDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="mot_int_id" type="xs:int" />
      <xs:element minOccurs="0" name="mot_str_act" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mot_str_conductor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mot_str_estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mot_str_nombMoto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pro_int_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarTransporteDto" nillable="true" type="tns:ListarTransporteDto" />
  <xs:complexType name="ListarUbigeoResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q30="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q30:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarUbigeoDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarUbigeoResult" nillable="true" type="tns:ListarUbigeoResult" />
  <xs:complexType name="ArrayOfListarUbigeoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarUbigeoDto" nillable="true" type="tns:ListarUbigeoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarUbigeoDto" nillable="true" type="tns:ArrayOfListarUbigeoDto" />
  <xs:complexType name="ListarUbigeoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="iddepartamento" type="xs:int" />
      <xs:element minOccurs="0" name="iddistrito" type="xs:int" />
      <xs:element minOccurs="0" name="idprovincia" type="xs:int" />
      <xs:element minOccurs="0" name="ubigeo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarUbigeoDto" nillable="true" type="tns:ListarUbigeoDto" />
  <xs:complexType name="ListarValorxTablaResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q31="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q31:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarValorxTablaDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarValorxTablaResult" nillable="true" type="tns:ListarValorxTablaResult" />
  <xs:complexType name="ArrayOfListarValorxTablaDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarValorxTablaDto" nillable="true" type="tns:ListarValorxTablaDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarValorxTablaDto" nillable="true" type="tns:ArrayOfListarValorxTablaDto" />
  <xs:complexType name="ListarValorxTablaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="idmaestrotabla" type="xs:int" />
      <xs:element minOccurs="0" name="idvalortabla" type="xs:int" />
      <xs:element minOccurs="0" name="orden" type="xs:int" />
      <xs:element minOccurs="0" name="valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarValorxTablaDto" nillable="true" type="tns:ListarValorxTablaDto" />
  <xs:complexType name="ListarZonasResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q32="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q32:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarZonasDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarZonasResult" nillable="true" type="tns:ListarZonasResult" />
  <xs:complexType name="ArrayOfListarZonasDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarZonasDto" nillable="true" type="tns:ListarZonasDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarZonasDto" nillable="true" type="tns:ArrayOfListarZonasDto" />
  <xs:complexType name="ListarZonasDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idzona" type="xs:int" />
      <xs:element minOccurs="0" name="zona" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarZonasDto" nillable="true" type="tns:ListarZonasDto" />
  <xs:complexType name="ObtenerProductoResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q33="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q33:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="codigoproducto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="costounitario" type="xs:decimal" />
          <xs:element minOccurs="0" name="descripcioncorta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="descripcionlarga" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idbanda" type="xs:int" />
          <xs:element minOccurs="0" name="idcamarafrontal" type="xs:int" />
          <xs:element minOccurs="0" name="idcamaraposterior" type="xs:int" />
          <xs:element minOccurs="0" name="idcapacidad" type="xs:int" />
          <xs:element minOccurs="0" name="idcolor" type="xs:int" />
          <xs:element minOccurs="0" name="idfabricante" type="xs:int" />
          <xs:element minOccurs="0" name="idfamilia" type="xs:int" />
          <xs:element minOccurs="0" name="idmemoriaflash" type="xs:int" />
          <xs:element minOccurs="0" name="idmemoriaram" type="xs:int" />
          <xs:element minOccurs="0" name="idmodelo" type="xs:int" />
          <xs:element minOccurs="0" name="idmoneda" type="xs:int" />
          <xs:element minOccurs="0" name="idorigen" type="xs:int" />
          <xs:element minOccurs="0" name="idpantalla" type="xs:int" />
          <xs:element minOccurs="0" name="idprocesador" type="xs:int" />
          <xs:element minOccurs="0" name="idproducto" type="xs:int" />
          <xs:element minOccurs="0" name="idrequisitoascanear" type="xs:int" />
          <xs:element minOccurs="0" name="idsistemaoperativo" type="xs:int" />
          <xs:element minOccurs="0" name="idtipomercaderia" type="xs:int" />
          <xs:element minOccurs="0" name="idtipoproducto" type="xs:int" />
          <xs:element minOccurs="0" name="idvoltaje" type="xs:int" />
          <xs:element minOccurs="0" name="imagen" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="original" type="xs:boolean" />
          <xs:element minOccurs="0" name="peso" type="xs:decimal" />
          <xs:element minOccurs="0" name="porcentajedescuento" type="xs:decimal" />
          <xs:element minOccurs="0" name="preciounitario" type="xs:decimal" />
          <xs:element minOccurs="0" name="repuesto" type="xs:boolean" />
          <xs:element minOccurs="0" name="stockmaximo" type="xs:decimal" />
          <xs:element minOccurs="0" name="stockminimo" type="xs:decimal" />
          <xs:element minOccurs="0" name="unico_reparacion" type="xs:boolean" />
          <xs:element minOccurs="0" name="volumen" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerProductoResult" nillable="true" type="tns:ObtenerProductoResult" />
  <xs:complexType name="ObtenerClienteResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q34="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q34:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="celular" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idcliente" type="xs:int" />
          <xs:element minOccurs="0" name="iddireccion" type="xs:int" />
          <xs:element minOccurs="0" name="idmonedalinea" type="xs:int" />
          <xs:element minOccurs="0" name="idsexo" type="xs:int" />
          <xs:element minOccurs="0" name="idtipodocumento" type="xs:int" />
          <xs:element minOccurs="0" name="idubigeo" type="xs:int" />
          <xs:element minOccurs="0" name="lineacredito" type="xs:decimal" />
          <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="nombrecorto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="numerodocumento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="rutalogo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ubigeo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerClienteResult" nillable="true" type="tns:ObtenerClienteResult" />
  <xs:complexType name="ObtenerDireccionResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q35="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q35:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="iddepartamento" type="xs:int" />
          <xs:element minOccurs="0" name="iddireccion" type="xs:int" />
          <xs:element minOccurs="0" name="iddistrito" type="xs:int" />
          <xs:element minOccurs="0" name="idprovincia" type="xs:int" />
          <xs:element minOccurs="0" name="ubigeo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerDireccionResult" nillable="true" type="tns:ObtenerDireccionResult" />
  <xs:complexType name="ObtenerPartnerResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q36="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q36:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="celular" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="contacto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idcondicionentrega" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idcondicionpago" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idcondicionrecojo" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="iddireccion" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idmoneda" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idpartner" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idtipodocumento" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idtipopartner" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="lineaconsumida" type="xs:decimal" />
          <xs:element minOccurs="0" name="lineacredito" type="xs:decimal" />
          <xs:element minOccurs="0" name="nombrecorto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="numerodocumento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="razonsocial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerPartnerResult" nillable="true" type="tns:ObtenerPartnerResult" />
  <xs:complexType name="ObtenerValorTablaResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q37="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q37:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="idmaestrotabla" type="xs:int" />
          <xs:element minOccurs="0" name="idvalortabla" type="xs:int" />
          <xs:element minOccurs="0" name="orden" type="xs:int" />
          <xs:element minOccurs="0" name="valor" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerValorTablaResult" nillable="true" type="tns:ObtenerValorTablaResult" />
  <xs:complexType name="ObtenerSucursalResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q38="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q38:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="celular" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="contacto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="delivery" type="xs:boolean" />
          <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idcondicionentrega" type="xs:int" />
          <xs:element minOccurs="0" name="idcondicionrecojo" type="xs:int" />
          <xs:element minOccurs="0" name="iddireccion" type="xs:int" />
          <xs:element minOccurs="0" name="iddistrito" type="xs:int" />
          <xs:element minOccurs="0" name="idpartner" type="xs:int" />
          <xs:element minOccurs="0" name="idsucursal" type="xs:int" />
          <xs:element minOccurs="0" name="idtipopago" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idtiposucursal" type="xs:int" />
          <xs:element minOccurs="0" name="laboratoriocentral" type="xs:boolean" />
          <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="reparacion" type="xs:boolean" />
          <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerSucursalResult" nillable="true" type="tns:ObtenerSucursalResult" />
  <xs:complexType name="ObtenerZonaResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q39="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q39:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="idzona" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="zona" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerZonaResult" nillable="true" type="tns:ObtenerZonaResult" />
  <xs:complexType name="ValidarDireccionResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q40="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q40:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="iddireccion" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ValidarDireccionResult" nillable="true" type="tns:ValidarDireccionResult" />
  <xs:complexType name="ValidarZonaResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q41="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q41:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="idzona" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ValidarZonaResult" nillable="true" type="tns:ValidarZonaResult" />
</xs:schema>